[Desktop Entry]
Encoding=UTF-8
Name=French conjugation
Name[fr]=Conjugaison française
Exec=french-conjugator
Icon=verbiste
Type=Application
Categories=Office;
