[Desktop Entry]
Encoding=UTF-8
Name=French conjugation
Name[de]=Französische Konjugation
Name[fr]=Conjugaison française
Name[pt]=Conjulgação francesa
Name[pt_BR]=Conjulgação francesa
Exec=french-conjugator
Icon=verbiste
Type=Application
Categories=Office;
