[Desktop Entry]
Type=Application
Name=Rubyripper CD ripper
Comment=A Secure Audio Disc Ripper
Icon=rubyripper
Exec=rubyripper
Categories=Audio;AudioVideo;
