[Desktop Entry]
Type=Application
Name=Rubyripper CD ripper
Comment=A Secure Audio Disc Ripper
Icon=rubyripper.png
Exec=rrip_gui
Categories=Audio;AudioVideo;
