[Desktop Entry]
Type=Application
Name=Qt Assistant
Name[bs]=Qt Asistent
Name[cs]=Qt asistent
Name[de]=Qt-Assistent
Name[el]=Βοηθός Qt
Name[es]=Asistente Qt
Name[pt]=Assistente do Qt
Name[pt_BR]=Assistente Qt
Name[ru]=Помощник Qt
Name[sl]=Pomočnik za Qt
Name[zh_CN]=Qt 助手
Name[zh_TW]=Qt 助理
GenericName=Qt Document Browser
GenericName[bs]=Preglednik QT dokumenata
GenericName[cs]=Prohlížeč dokumentace
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentbrowser
GenericName[el]=Προβολέας εγγράφων
GenericName[es]=Navegador de documentos
GenericName[fr]=Explorateur de documentation Qt
GenericName[hu]=Dokumentumböngésző
GenericName[it]=Visualizzatore di documenti
GenericName[pt]=Navegador de Documentos
GenericName[pt_BR]=Navegador de Documentos
GenericName[ru]=Программа просмотра документов
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sv]=Dokumentbläddrare
GenericName[zh_CN]=文档浏览器
GenericName[zh_TW]=文件閱讀器
Exec=/usr/bin/assistant
Icon=assistant
Terminal=false
Categories=Development;Documentation;
X-KDE-StartupNotify=true
