[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/designer
Icon=designer
Name=Qt Designer
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Development;
