[Desktop Entry]
Type=Application
Name=Qt Designer
Name[cs]=Qt designer
Name[de]=Qt-Designer
Name[es]=Diseñador Qt
Name[it]=Designer Qt
Name[ru]=Qt Дизайнер
Name[sl]=Snovalnik Qt
Name[sv]=Qt designer
Name[zh_CN]=Qt 设计器
Name[zh_TW]=Qt 設計師
GenericName=Interface Designer
GenericName[bs]=Qt alat za dizajniranje interfejsa
GenericName[cs]=Návrhář rozhraní
GenericName[da]=Grænsefladedesigner
GenericName[de]=Schnittstellen-Designer
GenericName[el]=Σχεδιασμός Περιβάλλοντων
GenericName[es]=Diseñador de interfaces
GenericName[fr]=Concepteur d'interface
GenericName[hu]=grafikus felülettervező
GenericName[it]=Disegnatore di interfacce
GenericName[pt]=Editor de Interfaces
GenericName[pt_BR]=Criador da Interface
GenericName[ru]=Редактор интерфейса приложений Qt
GenericName[sl]=Snovalnik vmesnikov
GenericName[sv]=Gränssnittseditor
GenericName[zh_CN]=界面设计程序
GenericName[zh_TW]=界面設計師
Exec=/usr/bin/designer
Icon=designer
StartupNotify=false
Terminal=false
Categories=Development;
MimeType=application/x-designer;
