[Desktop Entry]
Type=Application
Name=Qt Linguist
Name[de]=Qt-Linguist
Name[es]=Lingüista Qt
Name[pt_BR]=Lingüista 
Name[ru]=Qt Лингвист
Name[sl]=Jezikoslovec Qt
Name[sv]=Qt linguist
Name[zh_CN]=Qt 语言家
Name[zh_TW]=Qt 語言學家
GenericName=Translation Tool
GenericName[bs]=Alat za prevođenje
GenericName[cs]=Překladatelský nástroj
GenericName[da]=Oversættelsesværktøj
GenericName[de]=Übersetzungsprogramm
GenericName[el]=Εργαλείο μεταφράσεων
GenericName[es]=Herramienta de traducción
GenericName[fr]=Outil de traduction
GenericName[hu]=Fordítássegítő
GenericName[it]=Strumento per le traduzioni
GenericName[pt]=Ferramenta de Tradução
GenericName[pt_BR]=Ferramenta de Tradução
GenericName[ru]=Переводчик для Qt
GenericName[sl]=Orodje za prevajanje
GenericName[sv]=Översättningsverktyg
GenericName[zh_CN]=翻译工具
GenericName[zh_TW]=翻譯工具
Exec=/usr/bin/linguist
Icon=linguist
Terminal=false
Categories=Development;
MimeType=application/x-linguist;
X-KDE-StartupNotify=true
