[Desktop Entry]
Encoding=UTF-8
Name=Packages manager
Name[fr]=Gestionnaire de paquets
Comment=Run tazpkg commands in a shell
Exec=xterm -e 'tazpkg shell'
Icon=tazpkg.png
Type=Application
Categories=System;
