[Desktop Entry]
Name=Tazpkg manual
Name[fr]=Manuel de Tazpkg
GenericName=Packages manager
Comment=Packages manager manual
Comment[fr]=Manuel du gestionnaire de paquets
Exec=firefox /usr/share/doc/tazpkg/tazpkg.html
Icon=tazpkg.png
Type=Application
Categories=Documentation;
