#vt100 #reconnect input { font-size: small; }
#vt100 #scrollable { font-size: 14px; }
#vt100 #cursize { font-size: 14px; }
#vt100 #console { font-size: 14px; }
#vt100 #cursor { font-size: 14px; }
#vt100 #linheight { font-size: 14px; }
