[Desktop Entry]
Type=Application
Name=Steadyflow
Comment=Steadyflow Download Manager
Comment[cs]=Správce stahování Steadyflow
Comment[de]=Steadyflow-Download-Manager
Comment[el]=Διαχειριστής λήψεων Steadyflow
Comment[es]=Gestor de descargas Steadyflow
Comment[fr]=Gestionnaire de téléchargements Steadyflow
Comment[hu]=Steadyflow Letöltéskezelő
Comment[it]=Steadyflow Download Manager
Comment[pt]=Gestor de Transferências SteadyFlow
Comment[pt_BR]=Gerenciador de download Steadyflow
Comment[ru]=Диспетчер загрузок Steadyflow
Comment[sl]=Steadyflow upravljalnik prejemov
Comment[sv]=Hämtningshanteraren Steadyflow
Comment[zh_CN]=稳流 下载管理器
Comment[zh_TW]=Steadyflow 下載管理員
Exec=steadyflow
Icon=steadyflow
Terminal=false
StartupNotify=true
Categories=GTK;Network;FileTransfer;
