[Desktop Entry]
Encoding=UTF-8
Name=xfce4 taskmanager
Name[fr]=Gestionnaire de tâches
Comment=Taskmanager for XFCE
Comment[fr]=Gestionnaire de tâches pour Xfce4
Exec=xfce4-taskmanager
Icon=xfce4-taskmanager
Terminal=false
Type=Application
Categories=X-XFCE;Application;System;
