[Desktop Entry]
Encoding=UTF-8
Name=Lua interpreter
Name[pt]=Interpretador Lua
Name[pt_BR]=Interpretador Lua
Terminal=false
Exec=xterm -e lua
Icon=lua
Type=Application
Categories=Development;
