[Desktop Entry]
Encoding=UTF-8
Name=Surf Web Browser
Name[fr]=Navigateur Web Surf
Name[pt]=Navegador Web Surf
Name[pt_BR]=Navegador Web Surf
Name[zh_CN]=Surf网络浏览器
Comment=Browse the Internet
Comment[zh_CN]=浏览网络
Exec=surf
Icon=surf
Type=Application
Categories=Application;Network;
