[Desktop Entry]
Type=Application
Name=Adie Text editor
Name[fr]=Editeur de texte Adie
Name[pt]=Editor de textos Adie
Name[pt_BR]=Editor de textos Adie
Name[ru]=Текстовый редактор Adie
Name[zh_CN]=Adie文本编辑器
Exec=adie %f
Icon=adie
Categories=Utility;TextEditor;
MimeType=text/plain;
