[Desktop Entry]
Encoding=UTF-8
Name=Grab screenshot
Name[fr]=Capture d'écran
Exec=mtpaint -s
Icon=/usr/share/icons/Tango/16x16/devices/camera-photo.png
Type=Application
Terminal=false
Categories=Application;Graphics;
