[Desktop Entry]
Encoding=UTF-8
Name=mtPaint
GenericName=Images editor
GenericName[fr]=Editeur d'images
Comment=Creat and modify images
Exec=mtpaint
Icon=mtpaint.xpm
Type=Application
Terminal=false
Categories=Application;Graphics;
