[Desktop Entry]
Encoding=UTF-8
Name=mtPaint Image Editor
Name[fr]=Editeur d'images mtPaint
Name[pt]=Editor de Imagens mtPaint
Comment=Creat and modify images
Comment[fr]=Créer et modifier des images
Exec=mtpaint
Icon=mtpaint.png
Type=Application
Terminal=false
Categories=Application;Graphics;
