[Desktop Entry]
Encoding=UTF-8
Name=GAdmin-httpd
Comment=Apache server administration
Exec=subox /usr/sbin/gadmin-httpd
Icon=gadmin-httpd
Terminal=false
Type=Application
Categories=GTK;System;
