[Desktop Entry]
Type=Application
Name=KKEdit
Comment=Source code text editor
Exec=kkedit
Icon=KKEdit
Terminal=false
Categories=GTK;Utility;TextEditor;
