[Desktop Entry]
Type=Application
Name=BZFlag
GenericName=Tank Battle Game
Comment=Battle enemy tanks
Comment[ru]=Танковое сражение 3D от первого лица
Exec=bzflag
Icon=bzflag
Categories=Game;ActionGame;
