[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Iron Web Browser
Exec=iron
Terminal=false
Icon=iron.png
Type=Application
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;
