[Desktop Entry]
Type=Application
Name=Kleanny
Name[fr]=Kleanny
Name[pt]=Kleanny
Name[pt_BR]=Kleanny
Name[ru]=Kleanny
Comment=Cache Cleanup Utility
Exec=kleanny
Icon=/var/www/cgi-bin/kleanny/res/icon/48/kleanny.png
Categories=System;Filesystem;
