[Desktop Entry]
Type=Application
Name=Set screensaver timeout
Comment=0(always on), Default settings: 10 min (600 sec)
Name[fr]=Règle l'économiseur d'écran
Comment[fr]=0(écran toujours allumé), Par défaut 10 min (600 s)
Name[ru]=Время отключения монитора
Comment[ru]=0(не выключать), По умолчанию: 10 мин.(600 ceк.)
Icon=preferences-desktop-screensaver
Exec=xset-screensaver.sh
Categories=GTK;Settings;HardwareSettings;
