[Desktop Entry]
Type=Application
Name=Set screensaver timeout
Comment=0(always on)
Name[ru]=Время отключения монитора
Comment[ru]=0(не выключать)
Icon=preferences-desktop-screensaver
Exec=xset-screensaver.sh
Categories=GTK;Settings;HardwareSettings;
