[Desktop Entry]
Type=Application
Name=ePDFView PDF Viewer
Name[es]=ePDFView Visor PDF
Name[fr]=ePDFView Visionneur PDF
Name[pt]=Visualizador de PDF ePDFView
Name[pt_BR]=Visualizador de PDF ePDFView
Name[ru]=Просмотр PDF ePDFView
Name[zh_CN]=PDF浏览器
GenericName=PDF viewer
GenericName[es]=Visor PDF
Comment=Lightweight PDF document viewer
Comment[es]=Visor de documentos PDF ligero
Comment[fr]=Visionneur de documents PDF léger
Comment[ru]=Быстрая программа для просмотра файлов PDF
Comment[zh_CN]=轻量级PDF浏览器
Exec=epdfview %f
Icon=epdfview
Categories=GTK;Office;Viewer;
MimeType=application/pdf;
