[Desktop Entry]
Encoding=UTF-8
Name=NoteCase notes manager
Name[fr]=Gestionnaire de notes NoteCase
Name[pt]=Gerenciador de Anotações NoteCase
Name[pt_BR]=Gerenciador de Anotações NoteCase
Type=Application
Icon=notecase.xpm
Exec=notecase
Terminal=false
Categories=Application;Office;
MimeType=application/notecase-plain;application/notecase-enc;
