[Desktop Entry]
Type=Application
Name=Gcolor2 Color Selector
Name[es]=Probador de colores Gcolor2
Name[fr]=Sélecteur de couleurs Gcolor2 
Name[pt]=Seletor de Cores Gcolor2
Name[ru]=Выбор цвета Gcolor2
Name[pt_BR]=Seletor de Cores Gcolor2
Name[zh_CN]=GColor2颜色选择
Exec=gcolor2
Icon=gcolor2
Categories=Graphics;
