[Desktop Entry]
Encoding=UTF-8
Name=Gcolor2 Color Selector
Name[es]=Probador de colores Gcolor2
Name[fr]=Sélècteur de couleurs Gcolor2 
Name[pt]=Gcolor2 Seletor de Cores
Name[pt]=Gcolor2 Seletor de Cores
Name[zh_CN]=GColor2颜色选择
Exec=gcolor2
Icon=gcolor2.png
Type=Application
Terminal=false
Categories=Application;Graphics;
