[Desktop Entry]
Encoding=UTF-8
Name=Text editor
Name[cs]=Textový editor
Name[es]=Editor de texto
Name[fr]=Éditeur de texte
Name[it]=Editor testuale
Comment[zh_TW]=簡易文字編輯器
Exec=leafpad %f
Icon=leafpad.png
Type=Application
