[Desktop Entry]
Type=Application
Name=ATerm Terminal
Name[cs]=Terminál ATerm
Name[de]=Aterm-Terminal
Name[el]=Τερματικό ATerm
Name[fr]=Terminal ATerm
Name[it]=Terminale ATerm
Name[pt]=Terminal ATerm
Name[pt_BR]=Terminal ATerm
Name[ru]=Терминал ATerm
Name[zh_CN]=ATerm终端
Name[zh_TW]=ATerm終端機
GenericName=Terminal Program
GenericName[bs]=Terminalni program
GenericName[cs]=Terminálový program
GenericName[da]=Terminalprogram
GenericName[de]=Terminal-Programm
GenericName[el]=Πρόγραμμα τερματικού
GenericName[es]=Programa de terminal
GenericName[fr]=Terminal
GenericName[hu]=Parancsértelmező
GenericName[it]=Programma terminale
GenericName[pt]=Programa de Terminal
GenericName[pt_BR]=Terminal
GenericName[ru]=Терминал
GenericName[sl]=Terminalski program
GenericName[sv]=Terminalprogram
GenericName[zh_CN]=终端程序
GenericName[zh_TW]=終端機程式
Exec=aterm
Icon=utilities-terminal
Categories=System;TerminalEmulator;
