[Desktop Entry]
Encoding=UTF-8
Name=ATerm Terminal
Name[fr]=Terminal Aterm
Name[zh_CN]=ATerm终端
Exec=aterm
Icon=xterm.png
Type=Application
Categories=Utility;Terminal;
