[Desktop Entry]
Type=Application
Name=SpaceFM Desktop Manager
Name[fr]=Gestionnaire de bureau SpaceFM
Name[pt]=Gerenciador de Desktop SpaceFM
Name[pt_BR]=Gerenciador de Desktop SpaceFM
Name[ru]=Менеджер рабочего стола SpaceFM
Exec=spacefm --desktop
NotShowIn=XFCE;Razor;
