[Desktop Entry]
Type=Application
Name=SpaceFM Desktop Manager
Name[fr]=Gestionnaire de bureau SpaceFM
Name[ru]=Менеджер рабочего стола SpaceFM
Exec=spacefm --desktop --daemon-mode
NotShowIn=XFCE;Razor;
