[Desktop Entry]
Name=Viewnior Elegant Image Viewer
Name[da]=Viewnior Elegant Image Viewer
Name[de]=Viewnior Eleganter Bildbetrachter
Name[es]=Viewnior Un visor de imágenes elegante
Name[fr]=Visionneur d'images Viewnior
Name[hu]=Viewnior Elegáns Képnéző
Name[it]=Viewnior Elegante Visualizzatore di Immagini
Name[nl]=Viewnior Elegante Afbeeldingsviewer
Name[pl]=Viewnior Elegancka przeglądarka obrazów
Name[pt]=Viewnior Elegante Visualizador de Imagens
Name[ru]=Viewnior Элегантная смотрелка картинок
Exec=viewnior %F
Icon=viewnior
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
