[Desktop Entry]
Name=printoxx
Comment=Fotoxx Image adjustment for printing
Exec=printoxx %f
Terminal=false
Type=Application
Icon=/usr/share/icons/Tango/16x16/devices/printer.png
Categories=GTK;Graphics;2DGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;

