[Desktop Entry]
Encoding=UTF-8
Name=Gtkdialog Example
Name[pt]=Exemplos do Gtkdialog
Exec=/usr/share/examples/gtkdialog/slitazbox
Icon=gtk
Type=Application
Categories=Development;
