[Desktop Entry]
Encoding=UTF-8
Name=Gtkdialog Example
Exec=/usr/share/examples/gtkdialog/00.00-text
Icon=gtk.png
Type=Application
Categories=Development;
