[Desktop Entry]
Encoding=UTF-8
Name=LDAP Databases
Name[fr]=Bases de données LDAP
Icon=object
Exec=browser http://127.0.0.1/phpldapadmin/
Type=Application
Categories=Development;
