[Desktop Entry]
Type=Application
Name=Comical
Comment=Comic book reader
Icon=comical
Exec=comical
Terminal=false
StartupNotify=true
Categories=Graphics;Viewer;
MimeType=application/x-cbz;application/x-cbr;
