[Desktop Entry]
Encoding=UTF-8
Name=eboard
GenericName=Chess board Game GUI
Exec=eboard
Icon=/usr/share/eboard/eboard.xpm
Terminal=false
Type=Application
Version=0.2.0
Categories=Application;GTK;GNOME;Game;BoardGame;
StartupNotify=true
