[Desktop Entry]
Type=Application
Name=eboard
GenericName=Chess board Game GUI
Exec=eboard
Icon=eboard
Terminal=false
StartupNotify=true
Categories=Game;BoardGame;
