[Desktop Entry]
Encoding=UTF-8
Name=Xpad Sticky Notes
Name[fr]=Feuille de notes Xpad
Name[zh_TW]=Xpad 自粘性便條
Exec=xpad
Terminal=false
Icon=xpad.png
StartupNotify=true
StartupWMClass=xpad
Type=Application
Categories=GTK;Utility;
