[Desktop Entry]
Name=Xpad
GenericName=Sticky Notes
GenericName[da]=Selvklæbende noter
GenericName[de]=Klebezettel
GenericName[es]=Notas pegajosas
GenericName[fr]=Notes autocollantes
GenericName[hu]=Ragadós jegyzetek
GenericName[it]=Note Adesive
GenericName[ru]=Cтикеры
GenericName[sv]=Klistriga anteckningar
GenericName[zh_CN]=自粘性备注
GenericName[zh_TW]=自粘性便條
Comment=Jot down notes for later
Comment[da]=Krads noter ned til senere brug
Comment[de]=Notizen für später notieren
Comment[es]=Anotar más tarde
Comment[fr]=Garder les notes pour plus tard
Comment[hu]=Jegyzetek felvitele későbbi használatra
Comment[it]=Prendi delle note per più tardi
Comment[pt]=Anotar para mais tarde
Comment[ru]=Заметки/стикеры на вашем рабочем столе
Comment[sv]=Plita ner anteckningar för senare användning
Comment[zh_CN]=简要记录备注以备日后使用
Comment[zh_TW]=大略記下備註以供之後使用
Exec=xpad
Icon=xpad
Terminal=false
StartupNotify=true
StartupWMClass=xpad
Type=Application
Categories=GTK;Utility;
