[Desktop Entry]
Encoding=UTF-8
Name=Xpad Sticky Notes
Name[zh_CN]=桌面笔记本
Name[fr]=Feuille de notes Xpad
Name[pt]=Xpad Anotações
Name[zh_TW]=Xpad èªç²æ§ä¾¿æ¢
Exec=xpad
Terminal=false
Icon=xpad.png
StartupNotify=true
StartupWMClass=xpad
Type=Application
Categories=GTK;Utility;
