/* CSS style for SliTaz GNU/Linux generic xHTML files. */
body {
    font: 90% sans-serif, vernada, arial;
    margin: 0;
    }
/* Header */
#header{
    background: #f0ba08 url(images/header.png) repeat-x top;
    color: black;
    width: 100%;
    height: 50px ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    }
#content {
	margin: 0px 50px 26px 50px;
	}
#footer {
	border-top: 1px solid black;
	}
a {
	text-decoration: underline;
	}
a:hover {
	text-decoration: none;
	}
h1 {
    margin: 10px 0px 0px 6px;
    }
h2 {
    margin: 12px 0;
    }
pre {
    padding: 5px;
    color: black;
    background: #e1e0b0;
    }
pre.script {
    padding: 10px;
    color: black;
    background: #e8e8e8;
    border: 1px inset #333333;
}
li {
    line-height: 1.4em;
    }
code {
    font-size: 100%;
    color: #669900;
    background: transparent;
    }
hr {
	color: white;
    background-color: white;
    height: 1px;
    border: 0;
	}
