[Desktop Entry]
Name=VNC Viewer
Comment=RealVNC client application
Comment[fr]= Client RealVNC
Exec=/usr/bin/vncviewer
Icon=realvnc
Terminal=0
Type=Application
Categories=X-GNOME-NetworkSettings;Network;

