[Desktop Entry]
Type=Application
Name=PathFinder File manager
Name[fr]=Gestionnaire de fichiers PathFinder
Name[pt]=Gerenciador de arquivos PathFinder
Name[pt_BR]=Gerenciador de arquivos PathFinder
Exec=PathFinder
Icon=pathfinder
Categories=System;
