[Desktop Entry]
Type=Application
Name=PathFinder File manager
Name[fr]=Gestionnaire de fichiers PathFinder
Exec=PathFinder
Icon=pathfinder.png
Categories=System;
