[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xdigger
Exec=xdigger
Terminal=false
Categories=Application;Game;
Comment=Digger rewritten for X11
