[Desktop Entry]
Encoding=UTF-8
Name=WebTV Player
Comment=WebTV and Web Radio player
Exec=freetuxtv
Icon=/usr/share/icons/hicolor/48x48/apps/freetuxtv.png
Type=Application
Categories=Application;Network;
