[Desktop Entry]
Encoding=UTF-8
Name=Rage
GenericName=Media center
Comment=Manage your films and videos
Exec=rage
Icon=
Terminal=false
Type=Application
Categories=Application;AudioVideo;
