[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sudoku Savant
Exec=sudoku-savant
Icon=sudoku-savant.png
Terminal=false
Categories=GNOME;GTK;Application;Game;
Comment=Generate and solve Sudoku puzzles
Comment[de]=Erzeugen und Lösen von Sudokus
Comment[fr]=Générer et résoudre des puzzles Sudoku
