[Desktop Entry]
Encoding=UTF-8
Name=Sudoku Savant
Comment=Generate and solve Sudoku puzzles
Exec=sudoku-savant
Icon=sudoku-savant.png
Type=Application
Categories=Application;Game;
