[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sudoku Savant
Version=1.2
Exec=sudoku-savant
Terminal=false
Categories=Application;Game;
Comment=Generate and solve Sudoku puzzles
Icon=/usr/share/icons/Tango/16x16/categories/applications-other.png
