[Desktop Entry]
Type=Application
Name=Beaver Code Editor
Name[fr]=Editeur de code Beaver
Name[pt]=Editor de texto Beaver
Name[pt_BR]=Editor de texto Beaver
Name[ru]=Редактор кода Beaver
Name[zh_CN]=Beaver代码编辑器
Exec=beaver %F
Icon=beaver
StartupNotify=true
Categories=Development;Building;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-perl;text/x-python;application/x-php;application/x-httpd-php*;application/xml;text/html;text/css;text/x-sql;text/x-diff;
