[Desktop Entry]
Encoding=UTF-8
Name=Beaver Code Editor
Name[fr]=Editeur de code Beaver
Exec=beaver %F
Terminal=false
Icon=beaver.png
MimeType=text/*
StartupNotify=true
Type=Application
Categories=Application;Development;
