[Desktop Entry]
Encoding=UTF-8
Name=PCMan File Manager
Name[fr]=Gestionnaire de fichiers
Name[zh_TW]=PCMan 檔案管理程式
Exec=pcmanfm %F
Icon=pcmanfm
StartupNotify=true
Type=Application
Terminal=false
MimeType=x-directory/normal;inode/directory;
Categories=Application;System;Utility;Core;GTK;
