[Desktop Entry]
Encoding=UTF-8
Name=XTerm
GenericName=Terminal
Comment=Run commands in a shell
Exec=xterm -bg black -fg white -cr orange
Icon=xterm.png
Type=Application
Categories=Utility;Terminal;
