[Desktop Entry]
Encoding=UTF-8
Name=XTerm Terminal
Name[fr]=Terminal Xterm
Exec=xterm -ls
Icon=xterm.png
Type=Application
Categories=Utility;Terminal;
