[Desktop Entry]
Encoding=UTF-8
Name=XTerm
GenericName=Terminal
Comment=Run commands in a shell
Exec=xterm -bg black -fg white -cr orange
Icon=/usr/share/icons/Tango/16x16/apps/utilities-terminal.png
Type=Application
Categories=Utility;Terminal;
