[Desktop Entry]
Encoding=UTF-8
Name=Xfw Text Editor
Name[fr]=Editeur de texte Xfw
Name[pt]=Editor de texto Xfw
Name[pt_BR]=Editor de texto Xfw
Exec=xfw %f
Icon=xfw
Type=Application
MimeType=text/plain
Categories=Utility;TextEditor;
