[Desktop Entry]
Type=Application
Name=BOINC Manager
Name[pt]=Gerenciador BOINC
Name[pt_BR]=Gerenciador BOINC
Name[ru]=Менеджер BOINC
GenericName=BOINC monitor and control utility
GenericName[cs]=Monitorovací a ovládací nástroj pro BOINC
GenericName[de]=BOINC Überwachungs- und Kontrollprogramm
GenericName[pt]=Monitorização BOINC e utilitário de controle
GenericName[pt_BR]=Monitorização BOINC e utilitário de controle
GenericName[ru]=Утилита мониторинга и управления BOINC
Comment=Configure or monitor a BOINC core client
Comment[cs]=Monitoruje a nastavuje klienta BOINC
Comment[de]=BOINC Basis Client konfigurieren oder überwachen
Comment[pt]=Configurar ou monitorizar o cliente básico do BOINC
Comment[pt_BR]=Configurar ou monitorizar o cliente básico do BOINC
Comment[ru]=Настройка и мониторинг базового клиента BOINC
Exec=subox boincmgr --clientdir=/usr/bin --datadir=/var/lib/boinc
Icon=boincmgr
Categories=System;Monitor;GTK;
