[Desktop Entry]
Encoding=UTF-8
Name=BOINC Manager
Exec=subox boincmgr --clientdir=/usr/bin --datadir=/var/lib/boinc
Icon=boincmgr
Type=Application
Categories=System;Application;
