[Desktop Entry]
Encoding=UTF-8
Name=BOINC Manager
Exec=subox boincmgr -e /usr/bin -d /var/lib/boinc
Icon=boincmgr
Type=Application
Categories=System;Application;
