[Desktop Entry]
Encoding=UTF-8
Name=Frogatto
GenericName=Old-school 2D platformer
Comment=Old-school 2D platformer
Exec=/usr/bin/frogatto
Terminal=false
MultipleArgs=false
Type=Application
Icon=window-icon
Categories=Game;ArcadeGame
