[Desktop Entry]
Encoding=UTF-8
Name=Appearance GTK+
Name[cs]=Vzhled GTK+
Name[de]=Erscheinungsbild GTK+
Name[es]=Apariencia GTK+
Name[fr]=Apparence GTK+
Name[it]=Aspetto GTK+
Name[ja]=外観の設定 GTK+
Name[zh_CN]=外观 GTK+
Name[zh_TW]=外觀設定 GTK+
Exec=lxappearance
Icon=/usr/share/icons/Tango/jwm/preferences-desktop-theme.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;
NotShowIn=GNOME;XFCE;

