[Desktop Entry]
Encoding=UTF-8
Name=Wine Configuration
Name[fr]=Configuration de Wine
Exec=winecfg
Icon=wine
Terminal=false
Type=Application
MimeType=text/plain
Categories=System
