[Desktop Entry]
Encoding=UTF-8
Name=Wine File Manager
Name[fr]=Gestionnaire de fichiers Wine
Name[pt_BR]=Gerenciador de arquivos do Wine
Exec=winefile %f
Icon=file-manager
Terminal=false
Type=Application
MimeType=text/plain
Categories=System
