[Desktop Entry]
Encoding=UTF-8
Name=Torrent Download
Name[fr]=Télécharger des torrents
Exec=torrentbox
Icon=other.png
Type=Application
Categories=Network;
