[Desktop Entry]
Type=Application
Name=Gpick
Comment=Color picker
Comment[ru]=Пипетка для снятия цвета
Exec=gpick
Terminal=false
Icon=gpick
StartupNotify=true
Categories=GTK;Graphics;2DGraphics;
MimeType=text/x-utility;
