[Desktop Entry]
Encoding=UTF-8
Name=Transmission BitTorrent
Comment[fr]=Un client BitTorrent léger, libre, avec une interface simple et intuitive
Exec=transmission-gtk %F
TryExec=transmission
Icon=transmission.png
Type=Application
MimeType=application/x-bittorrent;
Categories=Network;FileTransfer;P2P;GTK;
