[Desktop Entry]
Type=Application
Name=Same
Exec=browser file:///var/www/same/index.html
Icon=/var/www/same/2on.gif
Terminal=false
Categories=Game;
Comment=Chess game
