[Desktop Entry]
Type=Application
Name=Same
Exec=browser file:///var/www/same/index.html
Icon=jssame
Terminal=false
Categories=Game;
Comment=Chess game
