[Desktop Entry]
Version=1.0
Name=Alsaplayer Audio Player
Name[fr]=Lecteur audio Alsaplayer 
Name[pt]=Alsaplayer Reprodutor de Áudio
Name[zh_CN]=Alsaplayer 音乐播放器
Comment=Versatile audio player for the Audio Linux Sound Architecture
Comment[fr]=lecteur audio versatile pour Audio Linux Sound Architecture aka ALSA
Comment[zh_CN]=Alsaplayer音乐播放器
Exec=alsaplayer
Icon=alsaplayer.png
Type=Application
MimeType=audio/x-scpls;audio/x-mpegurl;audio/mpegurl;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/x-wav;audio/ogg+vorbis;audio/ogg;application/flac;
Categories=AudioVideo;Audio;Player;
