[Desktop Entry]
Type=Application
Name=Youtube-DLG
Exec=python /usr/lib/python2.7/site-packages/youtube_dl_gui/__main__.py
Icon=youtube-dl-gui
Categories=Network;FileTransfer;
