[Desktop Entry]
Type=Application
Name=Battle Tanks!
Name[ru]=Боевые танки!
Name[zh_CN]=战斗坦克！
Comment=Fast 2D tank arcade game with multiplayer and split-screen modes
Comment[ru]=Быстрая 2D танковая аркада с режимами мультиплеера и сплит-экран
Comment[zh_CN]=2D街机坦克游戏！
Icon=btanks
Exec=btanks
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
