[Desktop Entry]
Type=Application
Version=1.0
Name=Battle Tanks!
Name[zh_CN]=战斗坦克！
Comment= A 2D arcade tank battle!
Comment[zh_CN]=2D街机坦克游戏！
Icon=btanks
Exec=btanks
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
