[Desktop Entry]
Encoding=UTF-8
Name=Leafpad Text editor
Name[fr]=Editeur de texte Leafpad
Exec=leafpad %f
Icon=leafpad.png
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
