[Desktop Entry]
Encoding=UTF-8
Name=Leafpad Text editor
Name[fr]=Leafpad Editeur de texte
Exec=leafpad %f
Icon=leafpad
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
