[Desktop Entry]
Encoding=UTF-8
Name=Leafpad Text editor
Name[fr]=Editeur de texte Leafpad
Name[zh_CN]=Leafpad文本编辑器
Exec=leafpad %f
Icon=leafpad.png
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
