[Desktop Entry]
Encoding=UTF-8
Name=Moonshiner PS to PDF converter
Name[fr]=Convertisseur PS vers PDF
Icon=moonshiner
Exec=moonshiner
Type=Application
Categories=Office;
