[Desktop Entry]
Name=guvcview
Name[it]=guvcview
GenericName=GTK UVC video viewer
GenericName[it]=GTK UVC visualizzatore video
X-GNOME-FullName=GTK UVC video viewer
X-GNOME-FullName[it]=GTK UVC visualizzatore video
Comment=A video viewer and capturer for the linux uvc driver
Comment[it]=Un visualizzatore e catturatore video per il driver uvc di linux
Comment[pt]=Visualize e capture imagens da sua webcam em linux
TryExec=guvcview
Exec=guvcview
Icon=/usr/share/pixmaps/guvcview/guvcview.png
Terminal=false
Type=Application
Categories=Video;AudioVideo;
X-GNOME-Gettext-Domain=guvcview
StartupNotify=true
