[Desktop Entry]
Encoding=UTF-8
Name=xCHM
GenericName=chm file viewer
GenericName[it]=Visore di file chm
GenericName[fr]=Visualisation de fichiers chm
Comment=wxGTK based GUI front-end to chmlib
Comment[fr]=Une interface pour chmlib utilisant wxGTK
Exec=xchm
Icon=xchm-32
Terminal=false
Type=Application
MimeType=application/x-chm;
Categories=GTK;Utility;

