[Desktop Entry]
Type=Application
Name=Xfe File manager
Name[fr]=Gestionnaire de fichiers Xfe
Name[pt]=Gerenciador de arquivos Xfe
Name[pt_BR]=Gerenciador de arquivos Xfe
Exec=xfe
Icon=xfe
Categories=System;
