[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=cPige Audio Stream Downloader
Name[fr]=récupération de stream Radio cPige 
Comment=Shoutcast and Icecast audio stream downloader
Comment[fr]=récupération de stream Radio Shoutcast et Icecast
Exec=cpigeGUI
Terminal=false
Icon=cpigeGUI
Categories=AudioVideo;Audio;
MimeType=audio/x-scpls;audio/x-mpegurl;audio/mpegurl;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/x-wav;audio/ogg+vorbis;audio/ogg;application/flac;
