[Desktop Entry]
Encoding=UTF-8
Name=GAdmin-samba
Comment=SAMBA server administration
Exec=subox /usr/sbin/gadmin-samba
Icon=gadmin-samba
Terminal=false
Type=Application
Categories=GTK;System;
