[Desktop Entry]
Name=Lyx Document Processor
Version=1.0
GenericName=Document Processor
Comment=Latex WYSIWYM Editor
Icon=/usr/share/lyx/images/lyx.png
Exec=lyx %F
TryExec=lyx
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=Lyx
Categories=GNOME;Qt;WordProcessor;Application;Office;
MimeType=application/x-lyx;text/x-lyx;
