[Desktop Entry]
Type=Application
Name=LyX
GenericName=Document Processor
GenericName[ru]=Процессор документов
Comment=The LyX text processor
Comment[cs]=Textový procesor LyX
Comment[da]=LyX tekstbehandleren
Comment[de]=Das LyX-Textprogramm
Comment[el]=Ο επεξεργαστής κειμένου LyX
Comment[es]=Procesador de Textos LyX
Comment[fr]=Éditeur de textes LyX (basé sur LaTeX)
Comment[hu]=A LyX kiadványszerkesztő
Comment[it]=La videoscrittura LyX
Comment[pt]=Processador de textos LyX
Comment[pt_BR]=Processador de textos LyX
Comment[ru]=Текстовый процессор LyX
Comment[sl]=Urejevalnik besedil LyX
Comment[sv]=LyX latexeditor
Comment[zh_CN]=LyX 文字处理器
Comment[zh_TW]=LyX 文字處理器
Exec=lyx %F
Terminal=false
Icon=/usr/share/lyx/images/lyx.png
StartupNotify=false
StartupWMClass=Lyx
Categories=Office;WordProcessor;Qt;
MimeType=application/x-lyx;text/x-lyx;
