[Desktop Entry]
Type=Application
Name=Links Web browser
Name[fr]=Navigateur Web Links
Name[pt]=Navegador web Links
Name[pt_BR]=Navegador web Links
Name[ru]=Браузер Links
Exec=links -g file:///usr/share/webhome/links.html
Icon=links
Categories=Network;WebBrowser;
