[Desktop Entry]
Encoding=UTF-8
Name=Links Web browser
Name[fr]=Navigateur Web Links 
Name[pt]=Navegador web Links
Name[pt_BR]=Navegador web Links
Exec=links -g file:///usr/share/webhome/links.html
Icon=links
Type=Application
Categories=Network;
