[Desktop Entry]
Encoding=UTF-8
Name=Links Web browser
Name[fr]=Links Navigateur Web
Exec=links -g
Icon=links.xpm
Type=Application
Categories=Network;
