[Desktop Entry]
Type=Application
Name=Manage Printing
Name[ca]=Gestor d'impressió
Name[de]=Druckerverwaltung
Name[es]=Administrar impresión
Name[fr]=Gestionnaire d'impression
Name[id]=Manajemen Pencetakan
Name[it]=Gestione stampa
Name[ru]=Настройка печати
Name[sv]=Hantera skrivare
Name[zh_CN]=打印管理
Name[zh_TW]=印表管理
Comment=CUPS Web Interface
Comment[de]=CUPS Webinterface
Comment[es]=Interfaz Web de CUPS
Comment[fr]=Interface Web de CUPS
Comment[id]=Antarmuka Web CUPS
Comment[it]=Interfaccia web di CUPS
Comment[ru]=Веб-интерфейс CUPS
Comment[sv]=CUPS webb-gränssnitt
Comment[zh_CN]=CUPS网页界面
Comment[zh_TW]=CUPS 網頁介面
Exec=browser http://localhost:631/
Icon=cups
Terminal=false
StartupNotify=false
Categories=Settings;