[Desktop Entry]
Encoding=UTF-8
Exec=browser http://localhost:631/
Icon=cups.png
Name=Manage Printing
Name[de]=Druckerverwaltung
Name[es]=Administrar impresión
Name[fr]=Gestionnaire d'impression
Name[it]=Gestione stampa
Name[zh_TW]=印表管理
Comment=CUPS Web Interface
Comment[es]=Interfaz Web de CUPS
Comment[fr]=Interface Web de CUPS
Comment[it]=Interfaccia web di CUPS
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;System;
