[Desktop Entry]
Type=Application
Name=Manage Printing
Name[ca]=Gestor d'impressió
Name[cs]=Správa tisku CUPS
Name[de]=Druckerverwaltung
Name[es]=Administrar impresión
Name[et]=Trükkimise haldur
Name[eu]=Kudeatu inprimaketak
Name[fr]=Gestionnaire d'impression
Name[he]=נהל הדפסות
Name[id]=Manajemen Pencetakan
Name[it]=Gestione stampa
Name[ja]=印刷の管理
Name[pl]=Zarządzanie drukowaniem
Name[pt]=Gerenciamento de impressão
Name[pt_BR]=Gerenciamento de impressão
Name[ru]=Настройка печати
Name[sv]=Hantera skrivare
Name[zh]=打印机管理
Name[zh_TW]=印表管理
Comment=CUPS Web Interface
Comment[ca]=Interfície web de CUPS
Comment[cs]=Webové rozhraní CUPS
Comment[de]=CUPS Webinterface
Comment[es]=Interfaz Web de CUPS
Comment[et]=CUPS-i veebiliides
Comment[eu]=CUPSen web interfazea
Comment[fr]=Interface Web de CUPS
Comment[he]=ממשק דפדפן של CUPS
Comment[id]=Antarmuka Web CUPS
Comment[it]=Interfaccia web di CUPS
Comment[ja]=CUPS Web インタフェース
Comment[pl]=Interfejs WWW CUPS
Comment[pt]=Interface Web do CUPS
Comment[pt_BR]=Interface Web do CUPS
Comment[ru]=Веб-интерфейс CUPS
Comment[sv]=CUPS webb-gränssnitt
Comment[uk]=Веб-інтерфейс CUPS
Comment[zh]=CUPS网页界面
Comment[zh_TW]=CUPS 網頁介面
Terminal=false
StartupNotify=false
Exec=browser http://localhost:631/
Icon=cups
Categories=Settings;HardwareSettings;Printing;
