[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gFTP Client
Name[fr]=gFTP Client FTP
Name[pt]=Cliente FTP gFTP
Name[pt_BR]=Cliente FTP gFTP
Comment=Download and upload files using multiple file transfer protocols
Exec=gftp %u
TryExec=gftp
Icon=gftp
Type=Application
Categories=Application;GTK;GNOME;Network;FileTransfer;
