[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gFTP Client
Name[fr]=gFTP Client FTP
Comment=Download and upload files using multiple file transfer protocols
Exec=gftp %u
TryExec=gftp
Icon=gftp.png
Type=Application
Categories=Application;GTK;GNOME;Network;FileTransfer;
