@charset "utf-8";

  html,body {background:#F3F3F3 url(bg.jpg) 50% 50% repeat;color:#000;font:normal normal 12px/23px "Sans", sans-serif;padding:0;margin:0 auto;}
  a   {color:#800;text-decoration:none;}
  
  header {background:#000;color:#FFF;border-bottom:2px solid #E1E1E1;}
  header h1 {background:url(slitaz-ico.png) 10px 4px no-repeat;font-size:14px;font-weight:normal;text-indent:40px;padding:10px 0; margin:0 auto;}
  
  form {background:#EEE;width:565px;padding-left:30px;margin:10px auto;}
  
  .square {float:left;width:101px;height:101px;padding:0;margin:0;box-shadow:1px 1px 3px 0 #C1C1C1;}
  .square img {background:#FFF;width:100px;height:100px;border-width:0;}
  
  .box {background:transparent;text-align:center;width:305px;margin:3% auto;float:left;}
  .frame {display:table;width:100%;margin:0 auto;clear:both;}
  
  #panel {font-size:10px;text-transform:uppercase;width:200px;padding:2%;margin:3% auto;float:left;}
  #panel input {background:#555;color:white;font-weight:bold;padding:4px;margin-right:4px;border-width:0;}
  #panel br {line-height:23px;}
  
  #controls,footer {text-align:center;padding:2%;margin:0 auto;clear:both;}
  #controls input {background:#333;color:#FFF;padding:10px;margin:0 2px;border-width:0;}
  #controls input:focus,#controls input:hover {background:#B14613;}
  #controls input.restart {background:#CF2F29;}
  #controls input.newround {background:#599E3F;}

  * {line-height:1;outline-width:0;}
  [type="button"] {cursor:pointer;border-radius:2px;box-shadow:0 2px 4px 0 #CCC;}
  .clear {border:1px dashed #CF2F29;color:#333;padding:4px;}    

  hr {line-height:0;margin:10px 0;border-width:0;border-bottom:1px solid #CCC;}
