[Desktop Entry]
Encoding=UTF-8
Name=Distcc Monitor
Exec=distccmon-gui
Icon=distccmon-gui.png
Type=Application
Categories=Development;
StartupNotify=true
