[Desktop Entry]
Encoding=UTF-8
Name=Gobby Collaborative editor
Name[fr]=Editeur collaboratif Gobby
Exec=gobby
Icon=gobby.png
Type=Application
Categories=Application;Network
