[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=xLogo
Exec=java -jar /usr/lib/xlogo/xlogo.jar
Icon=xlogo
Terminal=false
Categories=Application;Game;
