[Desktop Entry]
Encoding=UTF-8
Name=Xload Monitor
Name[fr]=Moniteur Xload
Exec=xload -nolabel -bg black -fg lightblue -hl orange
Icon=/usr/share/icons/Tango/jwm/applications-other.png
Type=Application
Categories=System;
