[Desktop Entry]
Type=Application
Name=Miro
GenericName=Internet TV
Exec=miro
Categories=AudioVideo;
Icon=/usr/share/miro/resources/images/icon-guide.png
