[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TEA Text Editor
Name[fr]=Editeur de text TEA
Icon=tea
Exec=tea %U
Terminal=false
StartupNotify=true
Categories=Application;Utility;TextEditor;
