[Desktop Entry]
Type=Application
Name=PCmanFM Desktop Manager
Name[fr]=Gestionnaire de bureau PCmanFM
Name[pt]=Gerenciador de Desktop PCmanFM
Name[pt_BR]=Gerenciador de Desktop PCmanFM
Name[ru]=Менеджер рабочего стола PCManFM
Exec=pcmanfm --desktop
NotShowIn=XFCE;Razor;KDE;LXQt;MATE;
