[Desktop Entry]
Type=Application
Name=PCmanFM Desktop Manager
Name[fr]=Gestionnaire de bureau PCmanFM
Name[ru]=Менеджер рабочего стола PCManFM
Exec=dbus-launch pcmanfm --desktop
NotShowIn=XFCE;Razor;
