[Desktop Entry]
Encoding=UTF-8
Name=nIvaders
GenericName=Space Invaders clone
Type=Application
Comment=Play to Space invaders
Terminal=true
Exec=xterm -e nInvaders
Icon=/usr/share/icons/Tango/jwm/applications-other.png
Categories=Application;Game;

