[Desktop Entry]
Type=Application
Name=Openbox Menu Editor
Name[fr]=Openbox editor de menu
Name[pt]=Editor de menu do Openbox
Name[pt_BR]=Editor de menu do Openbox
Name[ru]=Редактор меню Openbox
Comment=Edits Openbox menus
Comment[fr]=Openbox edite les menus
Comment[ru]=Правка меню Openbox
StartupNotify=true
Exec=obmenu
Icon=mnu48
Categories=GTK;Settings;DesktopSettings;
MimeType=application/x-openbox-theme;
