[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Openbox Menu Editor
Name[fr]=Openbox editor de menu
Comment=Edits Openbox menus
Comment[fr]=Openbox edite les menus
Icon=mnu48.png
Exec=obmenu
Categories=Settings;DesktopSettings;GTK;
MimeType=application/x-openbox-theme
StartupNotify=true
Terminal=false
