[Desktop Entry]
Encoding=UTF-8
Name=Chat
Icon=internet-group-chat
Exec=default-app pidgin --install "pidgin get-skype"
Type=Application
Categories=Internet;Network;
