[Desktop Entry]
Encoding=UTF-8
Name=Edit Images
Icon=applications-graphics
Exec=default-app gimp --install "gimp inkscape"
Type=Application
Categories=Graphics;
