[Desktop Entry]
Encoding=UTF-8
Name=Watch Video
Icon=applications-multimedia
Exec=default-app gmplayer --install "mplayer-svn get-flash-plugin gecko-mediaplayer"
Type=Application
Categories=Multimedia;AudioVideo;Audio;Player;
