[Desktop Entry]
Type=Application
Name=Watch Video
Name[pt]=Visualização de vídeo
Name[pt_BR]=Visualização de vídeo
Name[ru]=Смотреть видео
Comment=Install applications for image edit
Comment[ru]=Установить приложения для просмотра видео
Exec=default-app gmplayer --install "mplayer-svn get-flash-plugin gecko-mediaplayer"
Icon=applications-multimedia
Categories=AudioVideo;Video;Player;
