[Desktop Entry]
Encoding=UTF-8
Name=Write documents
Icon=text-editor
Exec=default-app abiword --install "abiword abiword-plugins gnumeric"
Type=Application
Categories=Office;
