[Desktop Entry]
Encoding=UTF-8
Name=Write doc
Icon=text-editor
Exec=default-app abiword --install "abiword gnumeric"
Type=Application
Categories=Office;
