[Desktop Entry]
Type=Application
Name=Light Web Browser
Name[fr]=Navigateur Web léger
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;
Exec=GtkLauncher %u
Icon=web-browser
Terminal=false
