[Desktop Entry]
Type=Application
Name=VPN/SSH
Comment=Virtual Private Network based on PPP and SSH
Comment[fr]=Réseau privé virtuel basé sur PPP et SSH
Exec=tazweb --notoolbar http://127.0.0.1:82/user/ppp.cgi#pppssh
Icon=network-wired
Categories=Network;
