# Systemd service file for Slim on SliTaz

[Unit]
Description=Slim Login Manager
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/slim

[Install]
Alias=display-manager.service
