[Desktop Entry]
Encoding=UTF-8
Name=PHP info
GenericName=PHP informations
GenericName[fr]=Informations sur PHP
Comment=PHP configuration informations
Comment[fr]=Informations de configuration de PHP
Exec=browser http://localhost/phpinfo/
Icon=php.png
Type=Application
Categories=Development;
