[Desktop Entry]
Encoding=UTF-8
Name=GAdmin-squid
Comment=SQUID server administration
Exec=subox /usr/sbin/gadmin-squid
Icon=gadmin-squid
Terminal=false
Type=Application
Categories=GTK;System;
