[Desktop Entry]
Type=Application
Name=SpaceFM Desktop configuration
Name[fr]=Configuration du bureau SpaceFM
Name[pt]=Configuração do Desktop SpaceFM
Name[pt_BR]=Configuração do Desktop SpaceFM
Name[ru]=Параметры рабочего стола SpaceFM
Exec=spacefm --desktop-pref
Icon=preferences-desktop-wallpaper
Categories=Settings;DesktopSettings;
