[Desktop Entry]
Encoding=UTF-8
Name=SpaceFM Desktop configuration
Name[fr]=Configuration du bureau SpaceFM
Exec=spacefm --desktop-pref
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
