[Desktop Entry]
Encoding=UTF-8
Name=Inkscape
GenericName=Inkscape
GenericName[fr]=Edition de graphismes vectoriels
Comment=Vector Graphics Editor
Exec=inkscape
Icon=inkscape.png
Type=Application
Terminal=false
Categories=Application;Graphics;
