[Desktop Entry]
Encoding=UTF-8
Name=Inkscape Vector Graphics Editor
Name[fr]=Dessins vectoriel Inkscape
Exec=inkscape
Icon=inkscape.png
Type=Application
Terminal=false
Categories=Application;Graphics;
