[Desktop Entry]
Name=WbarConf
Exec=wbarconf 
Type=Application
Icon=wbarconf
Terminal=false
StartupNotify=true
Categories=GTK;Utility; 
Comment=Configuration tool for wbar
Comment[de]=Konfigurationswerkzeug für Wbar
Comment[fi]=Asetustyökalu wbar:lle
Comment[fr]=Outil de configuration pour wbar
