[Desktop Entry]
Encoding=UTF-8
Name=LightTPD server status
Name[fr]=Status du serveur LightTPD
Name[pt]=Status do servidor LightTPD
Name[pt_BR]=Status do servidor LightTPD
Exec=browser http://localhost/server-status
Icon=text-html
Type=Application
Categories=System;
