[Desktop Entry]
Encoding=UTF-8
Name=LightTPD server status
Name=Status du serveur LightTPD
Exec=browser http://localhost/server-status
Icon=/usr/share/icons/Tango/16x16/mimetypes/text-html.png
Type=Application
Categories=System;
