[Desktop Entry]
Type=Application
Name=LightTPD server status
Name[fr]=Status du serveur LightTPD
Name[pt]=Status do servidor LightTPD
Name[pt_BR]=Status do servidor LightTPD
Name[ru]=Состояние сервера LightTPD
Exec=browser http://localhost/server-status
Icon=network-server
Categories=System;Monitor;
