[Desktop Entry]
Name=Tazwok manual
Name[fr]=Manuel de Tazwok
GenericName=Packages builder
Comment=SliTaz packages builder manual
Comment[fr]=Manuel du générateur de paquets SliTaz
Exec=firefox /usr/share/doc/tazwok/tazwok.html
Icon=/usr/share/icons/Tango/jwm/text-html.png
Type=Application
Categories=Documentation;
