[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=TuxPaint Images Editor
Name[fr]=Éditeur d'images TuxPaint
Name[pt]=Editor de imagens TuxPaint
Name[pt_BR]=Editor de imagens TuxPaint
Exec=tuxpaint %f
Icon=tuxpaint
MimeType=image/png;image/jpeg;
Categories=Graphics;
Terminal=false
