[Desktop Entry]
Encoding=UTF-8
Name=Wikiss
GenericName=Wiki engine
GenericName[fr]=Moteur de Wiki
Exec=firefox http://localhost/~hacker/wikiss/
Icon=wikiss.png
Type=Application
Categories=Office;
