[Desktop Entry]
Name=Lingot Tuner
Name[pt]=Afinador Lingot
Name[pt_BR]=Afinador Lingot
Comment=LINGOT Is Not a Guitar-Only Tuner
Comment[cs]=(Nejen kytarová) ladička
Exec=lingot
Icon=lingot
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;
