[Desktop Entry]
Encoding=UTF-8
Name=Fox Calculator
Name[fr]=Calculatrice Fox
Name[zh_CN]=Fox计算器
Exec=calculator
Icon=calculator.png
Terminal=false
Type=Application
Categories=Utility
