[Desktop Entry]
Type=Application
Name=Fox Calculator
Name[fr]=Calculatrice Fox
Name[ru]=Калькулятор Fox
Name[zh_CN]=Fox计算器
Exec=calculator
Terminal=false
Icon=calculator
Categories=Utility;
