[Desktop Entry]
Type=Application
Name=Fox Calculator
Name[fr]=Calculatrice Fox
Name[pt]=Calculadora Fox
Name[pt_BR]=Calculadora Fox
Name[ru]=Калькулятор Fox
Name[zh_CN]=Fox计算器
Exec=calculator
Icon=calculator
Categories=Utility;Calculator;
