[Desktop Entry]
Encoding=UTF-8
Name=ePDFView PDF Viewer
Name[es]=ePDFView Visor PDF
Name[fr]=ePDFView Visionneur PDF
Name[zh_CN]=ePDFView-PDF浏览器
Comment=Lightweight PDF document viewer
Comment[es]=Visor de documentos PDF ligero
Comment[fr]=Visionneur de documents PDF léger
Comment[zh_CN]=ePDFView-PDF浏览器
Exec=epdfview %f
Icon=epdfview.png
MimeType=application/pdf
Terminal=false
Type=Application
Categories=Office;
