[Desktop Entry]
Type=Application
Name=aMule P2P Client
Name[fr]=Client P2P aMule
Name[ru]=Клиент P2P aMule
Name[zh_CN]=aMule 电骡
Exec=amule
Icon=amule
Terminal=false
Categories=Network;P2P;
