[Desktop Entry]
Name=aMule P2P Client
Name[fr]=Client P2P aMule
Name[zh_CN]=aMule 电骡
Exec=amule
Icon=amule
Terminal=false
Type=Application
Categories=Network;P2P;
