[Desktop Entry]
Encoding=UTF-8
Name=Clex File Manager
Exec=xterm -e clex
Icon=/usr/share/icons/Tango/jwm/system-file-manager.png
Type=Application
Categories=System;
