[Desktop Entry]
Type=Application
Name=Desktop effects with Xcompmgr
Name[fr]=Effects de bureau avec Xcompmgr
Name[pt]=Efeitos do desktop com Xcompmgr
Name[pt_BR]=Efeitos do desktop com Xcompmgr
Exec=xcompmgr -c -r 10 -o 0.5
NotShowIn=LXDE;XFCE;Razor;
