[Desktop Entry]
Type=Application
Name=Foobillard++
GenericName=OpenGL Billiard Game
Comment=OpenGL Billiard Game
Comment[ru]=Бильярд на OpenGL
Exec=foobillardplus
Terminal=false
Icon=/usr/share/foobillardplus/foobillardplus.png
Categories=Game;SportsGame;
