[Desktop Entry]
Encoding=UTF-8
Name=Links Web browser
Name[fr]=Navigateur Web Links 
Exec=links -g file:///usr/share/webhome/index.html
Icon=links
Type=Application
Categories=Network;
