[Desktop Entry]
Encoding=UTF-8
Name=GtkLife
GenericName=Conway's Life game
Type=Application
Comment=Fast, featureful, Conway's Life program
Exec=gtklife
Icon=gtklife
Categories=Application;Game;
