[Desktop Entry]
Name=Lockdis screen locker
Name[fr]=Vérouilleur d'écran Lockdis
Name[pt]=Bloqueio de tela Lockdis
Name[pt_BR]=Bloqueio de tela Lockdis
Icon=preferences-desktop-screensaver
Exec=lockdis
Categories=Settings;
