[Desktop Entry]
Name=Lockdis screen locker
Name[fr]=Vérouilleur d'écran Lockdis
Icon=preferences-desktop-screensaver
Exec=lockdis
Categories=Settings;
