[Desktop Entry]
Name=Lockdis password
Name[fr]=Mot de passe Lockdis
Name[pt]=Senha do Lockdis
Name[pt_BR]=Senha do Lockdis
Icon=preferences-desktop-screensaver
Exec=terminal -e "lockdis -p"
Categories=Settings;
