[Desktop Entry]
Type=Application
Name=Yandex.Disk
Name[ru]=Яндекс.Диск
Name[uk]=Яндекс.Диск
Exec=yandex-disk-helper
Icon=yandex-disk
Categories=GTK;Network;FileTransfer;
