[Desktop Entry]
Type=Application
Name=PCmanFM Desktop Manager
Name[fr]=Gestionnaire de bureau PCmanFM
Name[pt]=Gerenciador do Desktop PCmanFM
Name[pt_BR]=Gerenciador do Desktop PCmanFM
Name[ru]=Менеджер рабочего стола PCManFM
Exec=pcmanfm -d
NotShowIn=XFCE;Razor;
