[Desktop Entry]
Type=Application
Name=ISO Master
GenericName=CD image editor
GenericName[fr]=Editeur d'images ISO
Comment=Graphical CD image editor for reading, modifying and writing ISO images
Exec=isomaster
Icon=isomaster
StartupNotify=true
Categories=Utility;FileTools;
MimeType=application/x-iso
