[Desktop Entry]
Encoding=UTF-8
Name=Password Manager
Comment=Figaro's Password manager with GTK2 GUI
Exec=fpm2
Icon=fpm2.png
Terminal=false
Type=Application
Categories=GTK;Utility;
