[Desktop Entry]
Encoding=UTF-8
Name=Figaro's Password Manager
Name[pt]=Gerenciador de senhas Figaro
Name[pt_BR]=Gerenciador de senhas Figaro
Comment=Figaro's Password manager with GTK2 GUI
Exec=fpm2
Icon=fpm2
Terminal=false
Type=Application
Categories=GTK;Utility;
