[Desktop Entry]
Type=Application
Name=LFS Book
Comment=Linux From Scratch
Exec=browser file:///usr/share/doc/lfs-book/index.html
Icon=lfs-book
Categories=Development;Documentation;X-LFS;
