[Desktop Entry]
Encoding=UTF-8
Name=Python interpreter
Name[fr]=Interpreteur Python
Name[pt]=Interpretador Python
Name[pt_BR]=Interpretador Python
Terminal=false
Exec=terminal -e python
Icon=python
Type=Application
Categories=Development;
