[Desktop Entry]
Encoding=UTF-8
Name=Klavaro
Exec=klavaro
Icon=/usr/share/icons/Tango/16x16/devices/input-keyboard.png
Type=Application
Categories=Utility;
