[Desktop Entry]
Encoding=UTF-8
Name=Lua5.1 interpreter
Name[pt]=Interpretador Lua5.1
Name[pt_BR]=Interpretador Lua5.1
Terminal=false
Exec=xterm -e lua5.1
Icon=lua5.1
Type=Application
Categories=Development;
