[Desktop Entry]
Encoding=UTF-8
Name=rox-filer
Name[fr]=gestionnaire de fichiers rox
Exec=rox-filer %F
Icon=pcmanfm
StartupNotify=true
Type=Application
Terminal=false
MimeType=x-directory/normal;inode/directory;
Categories=Application;System;Utility;Core;GTK;
