[Desktop Entry]
Encoding=UTF-8
Name=GAdmin-dhcpd
Comment=DHCP server administration
Exec=subox /usr/sbin/gadmin-dhcpd
Icon=gadmin-dhcpd
Terminal=false
Type=Application
Categories=GTK;System;
