[Desktop Entry]
Type=Application
Name=XFCE Volume Daemon
Name[fr_FR]=Démon de volume XFCE
Name[ru]=Служба регулятора громкости
Comment=Daemon managing the volume multimedia keys and displaying volume notifications
Comment[fr_FR]=Démon gérant les touches multimédia liées au volume et affichant des notifications de volume
Comment[ru]=Служба управляет мультимедийными кнопками громкости и показывает уведомления
Exec=xfce4-volumed
Terminal=false
