[Desktop Entry]
Type=Application
Name=RME Digi Control tool
Comment=Control RME Digi32 and RME Digi96 soundcards
Exec=rmedigicontrol
Icon=audio-x-generic
Categories=AudioVideo;Audio;
