[Desktop Entry]
Type=Application
Name=Bygfoot
GenericName=Football Management Game
GenericName[ru]=Футбольный менеджер
Comment=A simple and addictive GTK2 football manager
Comment[da]=En enkel og vanedannende GTK2-fodboldmanager
Comment[de]=Ein einfacher Fußballmanager mit Suchtgefahr
Comment[es]=Un manager de futbol en GTK simple y adictivo
Comment[fr]=Un jeux de manager de football simple et accrocheur
Comment[nl]=Een simpele en verslavende GTK2 voetbal manager
Comment[ru]=Простой, но увлекательный футбольный менеджер
Comment[sv]=En enkel och vanebildande fotbollsmanager för GTK2
Exec=/usr/games/bygfoot
Terminal=false
Icon=/usr/share/bygfoot/support_files/pixmaps/bygfoot_icon.png
Categories=Game;SportsGame;
