[Desktop Entry]
Encoding=UTF-8
Name=Ghost In The Mail
Exec=gitmail
Icon=/usr/share/icons/Tango/jwm/internet-mail.png
Type=Application
Categories=Network;
