[Desktop Entry]
Encoding=UTF-8
Name=Ghost In The Mail
Exec=gitmail
Icon=/usr/share/icons/Tango/16x16/actions/mail-message-new.png
Type=Application
Categories=Network;
