[Desktop Entry]
Type=Application
Name=Cairo Composite Manager Doc
Name[pt]=Documentação do Gerenciador de Composite Cairo
Name[pt_BR]=Documentação do Gerenciador de Composite Cairo
Name[ru]=Документация композитного менеджера Cairo
Exec=browser file:///usr/share/gtk-doc/html/cairo-compmgr/index.html
Icon=/usr/share/pixmaps/cairo-compmgr/cairo-compmgr.png
Terminal=false
StartupNotify=false
Categories=Development;Documentation;
