[Desktop Entry]
Encoding=UTF-8
Name=AbiWord Processor
Name[fr]=AbiWord Traitement de texte
Exec=abiword
Icon=abiword.png
Type=Application
MimeType=application/x-abiword;text/x-abiword;text/x-xml-abiword;text/plain;application/msword;application/rtf;application/vnd.plain;application/xhtml+xml;text/html;
Categories=Application;Office;WordProcessor;

