[Desktop Entry]
Encoding=UTF-8
Name=GAdmin-bind
Comment=BIND DNS server administration
Exec=subox /usr/sbin/gadmin-bind
Icon=gadmin-bind
Terminal=false
Type=Application
Categories=GTK;System;
