[Desktop Entry]
Type=Application
Icon=slitaz-logout
Exec=lxde-logout
Name=LXSession Log Out
Name[fr]=Déconnexion de LXSession
Name[it]=Esci LXSession
Name[pt_BR]=Encerrar LXSessão
Name[ru]=Выйти LXSession
Categories=System;
OnlyShowIn=LXDE;
