[Desktop Entry]
Type=Application
Name=LXSession Log Out
Name[fr]=Déconnexion de LXSession
Name[it]=Esci LXSession
Name[pt_BR]=Encerrar LXSessão
Name[ru]=Завершить сеанс
Exec=lxde-logout
Icon=slitaz-logout
Categories=System;
OnlyShowIn=LXDE;
