[Desktop Entry]
Name=Gtick Metronome
Name[pt]=Metrônomo Gtick
Name[pt_BR]=Metrônomo Gtick
Exec=gtick
Icon=gtick
Type=Application
Categories=AudioVideo;Audio;
