[Desktop Entry]
Type=Application
Name=Parcellite Clipboard Manager
Name[pt]=Gerenciador da Área de Transferência
Name[pt_BR]=Gerenciador da Área de Transferência
Name[ru]=Менеджер буфера обмена Parcellite
Exec=parcellite
Icon=parcellite
Categories=GTK;Utility;TextTools;
