[Desktop Entry]
Encoding=UTF-8
Name=Parcellite Clipboard Manager
Icon=parcellite.png
Exec=parcellite
Terminal=false
Type=Application
Categories=GTK;GNOME;Application;Utility;
