[Desktop Entry]
Encoding=UTF-8
Name=Parcellite Clipboard Manager
Name[pt]=Gerenciador da Área de Transferência
Icon=parcellite.png
Exec=parcellite
Terminal=false
Type=Application
Categories=GTK;GNOME;Application;Utility;
