[Desktop Entry]
Encoding=UTF-8
Name=Vim Text editor
Name[fr]=Editeur de texte Vim
Exec=gvim %f
Icon=gvim
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
