[Desktop Entry]
Encoding=UTF-8
Name=Vim editor
Name[fr]=Editeur Vim
Name[fr]=Editeur de texte Vim
Exec=gvim %f
Icon=gvim.png
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
