[Desktop Entry]
Encoding=UTF-8
Name=Vim Text editor
Name[fr]=Editeur de texte Vim
Name[pt]=Editor de textos Vim
Name[pt_BR]=Editor de textos Vim
Exec=gvim %f
Icon=gvim
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
