[Desktop Entry]
Encoding=UTF-8
Name=Childsplay Activities
Name[fr]=Activités Childsplay
Exec=childsplay
Icon=childsplay
Type=Application
Categories=Application;Game;
