[Desktop Entry]
Type=Application
Name=Childsplay
Name[el]=Παιδικό παιγνίδι
Name[fr]=Activités Childsplay
GenericName=Educational child game
GenericName[da]=Undervisningsbørnespil
GenericName[de]=Lernspiel für Kinder
GenericName[el]=Εκπαιδευτικά παιδικά παιγνίδια
GenericName[es]=Juego educativo para niños
GenericName[hu]=Oktatási gyermekjáték
GenericName[it]=Gioco educativo per bambini
GenericName[pt]=Jogo infantil educativo
GenericName[pt_BR]=Jogos educativos infantis
GenericName[ru]=Детская познавательная игра
GenericName[sv]=Pedagogiska barn spel
Comment=Suite of educational games for young children
Comment[da]=Programpakke af undervisningsspil for små børn
Comment[de]=Lernspielsuite für kleine Kinder
Comment[el]=Σουίτα εκπαιδευτικών παιγνιδιών για μικρά παιδιά
Comment[es]=Conjunto de juegos educativos para niños
Comment[fr]=Suite de jeux éducatifs pour jeunes enfants
Comment[hu]=Oktatási játékok fiatal gyerekeknek
Comment[it]=Suite di giochi educativi per i bambini
Comment[pt]=Pacote de jogos educativos para crianças
Comment[pt_BR]=Suíte de jogos educativos para crianças pequenas
Comment[ru]=Набор познавательных игр для малышей
Comment[sv]=Svit av pedagogiska spel för mindre barn
Exec=childsplay
Terminal=false
Icon=childsplay
Categories=Game;KidsGame;
StartupNotify=false
