[Desktop Entry]
Name=Tazlito manual
Name[fr]=Manuel de Tazlito
GenericName=SliTaz Live Tool
Comment=SliTaz LiveCD generator and editor
Comment[fr]=Manuel de l'outil de génération et édition de LiveCD
Exec=firefox /usr/share/doc/tazlito/tazlito.html
Icon=/usr/share/icons/Tango/jwm/text-html.png
Type=Application
Categories=Documentation;
