[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Grsync
Name[fr]=Synchroniser des fichiers
Name[it]=Sincronizza file
Exec=grsync
Icon=grsync
Terminal=false
Type=Application
Categories=Application;Network;
