[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sylpheed Compose
GenericName=Compose a mail
GenericName[fr]=Composer un mail
Exec=sylpheed --compose
Icon=sylpheed
Type=Application
Categories=Application;Network;
