[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sylpheed
GenericName=Mail Client
GenericName[fr]=Client mail
Exec=sylpheed
Icon=sylpheed
Type=Application
Categories=Application;Network;
