[Desktop Entry]
Encoding=UTF-8
Name=MySQL Databases
Name[fr]=Bases de données MySQL
Icon=/usr/share/phpmyadmin/themes/original/img/b_sql.png
Exec=browser http://127.0.0.1/phpmyadmin/
Type=Application
Categories=Development;
