[Desktop Entry]
Type=Application
Name=CellWriter Keyboard
Exec=cellwriter --keyboard-only --dock-window=2
Icon=preferences-desktop-keyboard
StartupNotify=true
Categories=Utility;Accessibility;
