[Desktop Entry]
Type=Application
Name=Turbine
Name[fr]=Turbine
Name[pt]=Turbine
Name[pt_BR]=Turbine
Name[ru]=Turbine
Comment=Free Up Memory with Turbine.
Exec=turbine
Icon=/var/www/cgi-bin/turbine/res/icons/48/turbine.svg
Categories=System;Filesystem;
