/* http://msdn.microsoft.com/en-us/library/aa381058.aspx */

id ICON "./isohybrid.ico"	/* BMP32x32 */
VS_VERSION_INFO	VERSIONINFO
FILEVERSION	1,0,0,0
PRODUCTVERSION	1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "SliTaz"
      VALUE "FileDescription", "Hybrid ISO9660 creator"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "isohybrid"
      VALUE "LegalCopyright", "SliTaz"
      VALUE "ProductName", "isohybrid"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
