[Desktop Entry]
Encoding=UTF-8
Name=LostIRC IRC Client
Name[fr]=Client IRC LostIRC
Exec=lostirc
Icon=lostirc.png
Terminal=false
Type=Application
Categories=Application;Network;
