[Desktop Entry]
Encoding=UTF-8
Name=LostIRC IRC Client
Name[fr]=Client IRC LostIRC
Name[pt]=Cliente IRC LostIRC
Name[pt_BR]=Cliente IRC LostIRC
Exec=lostirc
Icon=lostirc
Terminal=false
Type=Application
Categories=Application;Network;
