[Desktop Entry]
Encoding=UTF-8
Name=Virtual keyboard
GenericName=Virtual Keyboard
Comment=Virtual Keyboard for X Window System
Exec=xvkbd
Icon=xvkbd.png
Type=Application
Categories=GTK;Utility;
