[Desktop Entry]
Type=Application
Name=Virtual keyboard
Name[pt]=Teclado Virtual
Name[pt_BR]=Teclado Virtual
Name[ru]=Виртуальная клавиатура
Name[uk]=Віртуальна клавіатура
GenericName=Virtual Keyboard
Comment=Virtual Keyboard for X Window System
Exec=sh -c 'xvkbd || LC_ALL=C LANG=C xvkbd'
Icon=xvkbd
Categories=GTK;Utility;
