[Desktop Entry]
Type=Application
Name=SkypeFreak
Comment=A Forensic Framework for Skype
Exec=terminal -h -e "python /usr/bin/SkypeFreak.py"
Icon=application-x-php
Categories=ConsoleOnly;Network;
