[Desktop Entry]
Type=Application
Name=SliTaz bug report
Name[fr]=Rapport de bug SliTaz
Name[pt]=Aviso de Bugs do SliTaz
Name[pt_BR]=Aviso de Bugs do SliTaz
Name[ru]=Баг-репорт SliTaz
Exec=tazweb --notoolbar http://bugs.slitaz.org/
Icon=tazbug
Categories=Development;ProjectManagement;
