[Desktop Entry]
Name=Mrxvt
GenericName=Multi-tab Terminal
Comment=Terminal emulator with tabs support
Exec=mrxvt -xft -bg black -fg white -cr orange -pr green
Icon=mrxvt
Type=Application
Categories=Utility;Terminal;
