[Desktop Entry]
Encoding=UTF-8
Name=EDuke32
Comment=Duke Nukem 3D for Linux
Exec=eduke32
Icon=eduke32.png
Type=Application
Categories=Application;Game;
