[Desktop Entry]
Encoding=UTF-8
Name=Packages list
GenericName=Installed packages
GenericName[fr]=Paquets installés
Comment=Run commands in a shell
Exec=xterm -bg black -fg white -hold -e 'tazpkg list'
Icon=tazpkg.png
Type=Application
Categories=System;
