[Desktop Entry]
Type=Application
Name=BitBucket Repositories
Name[fr]=Dépôts BitBucket
Name[pt]=Repositórios BitBucket
Name[pt_BR]=Repositórios BitBucket
Name[ru]=Репозитории BitBucket
Exec=browser http://bitbucket.org/
Icon=bitbucket
Categories=Development;ProjectManagement;
