[Desktop Entry]
Encoding=UTF-8
Name=BitBucket Repositories
Icon=bitbucket
Exec=browser http://bitbucket.org/
Type=Application
Categories=Development;
