[Desktop Entry]
Type=Application
Name=BitBucket Repositories
Name[ru]=Репозитории BitBucket
Exec=browser http://bitbucket.org/
Icon=bitbucket
Categories=Development;ProjectManagement;
