[Desktop Entry]
Type=Application
Name=Gemini project
Name[fr]=Projet Gemini
TryExec=browser
Exec=browser https://proxy.vulpes.one/gemini/gemini.circumlunar.space/
#Exec=browser https://portal.mozz.us/gemini/gemini.circumlunar.space/
Icon=applications-internet
Categories=Network;
