[Desktop Entry]
Type=Application
Name=Jamendo Music
Name[fr]=Musique Jamendo
Name[ru]=Музыка на Jamendo
TryExec=browser
Exec=browser http://www.jamendo.com/
Icon=jamendo
Categories=AudioVideo;Audio;
