[Desktop Entry]
Type=Application
Name=Encrypted paste tool
Name[fr]=Echange de textes chiffrés
Name[ru]=Безопасный обмен текстами
Exec=browser http://paste.slitaz.org/
Icon=slitaz-icon
Categories=Office;
