[Desktop Entry]
Encoding=UTF-8
Name=PdfMeNot PDF viewer
Name[fr]=Visionneur PDF PdfMeNot
Name[pt]=PdfMeNot Visualizador de PDF
Name[zh_CN]=PdfMeNot PDF浏览器
Icon=pdfmenot
Exec=browser http://www.pdfmenot.com/
Type=Application
Categories=Office;
