[Desktop Entry]
Type=Application
Name=Web radio
Comment=Online web radio set
Comment[fr]=Liste de web radios en ligne
Exec=sh -c "url=file:///var/www/radio.html ; tazweb --notoolbar \$url || browser \$url"
Icon=audio-mpeg
Categories=AudioVideo;Audio;Player;
