[Desktop Entry]
Type=Application
Name=Time.is
Comment=Exact time for any time zone
Comment[ar]=الوقت بالضبط، لأي خطٍ زمني
Comment[az]=Dəqiq vaxt, istənilən saat qurşağı
Comment[bg]=Точно време, която и да е часова зона
Comment[ca]=L'hora exacte, a qualsevol zona horària
Comment[cs]=Přesný čas v každém pásmu
Comment[de]=Exakte Zeit, für jegliche Zeitzone
Comment[eo]=Ekzakta tempo, kiu ajn horaro
Comment[es]=Hora exacta, cualquier zona horaria
Comment[et]=Täpne aeg suvalises ajavööndis
Comment[fi]=Tarkka aika, mikä tahansa aikavyöhyke
Comment[fr]=Heure exacte, pour tout fuseau horaire
Comment[hi]=सही समय, किसी भी समय क्षेत्र
Comment[hr]=Točno vrijeme, bilo koja vremenska zona
Comment[hu]=Pontos idő, bármely időzóna
Comment[hy]=ճշգրիտ ժամը, ցանկացած ժամային գոտի
Comment[id]=Waktu aktual, zona waktu lainnya
Comment[is]=Nákvæm klukka, í hvaða tímabelti em er
Comment[it]=Ora esatta, qualunque fuso orario
Comment[ja]=正確な時刻、どんな時間帯でも
Comment[ka]=ზუსტი დრო, ნებისმიერი დროის სარტყელი
Comment[lt]=Tikslus laikas, bet kuri laiko juosta
Comment[lv]=Precīzs laiks, jebkurā laika zonā
Comment[mg]=Ora tena marina, tsy mifidy fiozao ara-potoana
Comment[mk]=Точно време, било која временска зона
Comment[nl]=De juiste tijd in elke tijdzone
Comment[nn]=Eksakt tid, for einkvar tidssone
Comment[no]=Eksakt tid, alle tidssoner
Comment[pl]=Dokładny czas, dowolna strefa czasowa
Comment[ru]=Точное время в любом часовом поясе
Comment[sq]=Koha e saktë, në çfarëdo zone kohore
Comment[sr]=Тачно време за било коју временску зону
Comment[sv]=Exakt tid, valfri tidszon
Comment[tr]=Kesin saat, her saat dilimi
Comment[uk]=Точний час у будь-якому куточку світу
Comment[zh_TW]=在任何時區的精確時間
Exec=browser http://time.is/
Icon=preferences-system-time
Categories=Utility;Clock;
