[Desktop Entry]
Type=Application
Name=Twitter Micro-blogging
Name[fr]=Micro-blogging Twitter
Name[ru]=Микро-блоги Twitter
TryExec=browser
Exec=browser http://twitter.com/
Icon=twitter
Categories=Network;InstantMessaging;
