[Desktop Entry]
Encoding=UTF-8
Name=Wikipedia Encyclopedia
Name[fr]=Encyclopédie Wikipedia
Icon=wikipedia.png
Exec=firefox http://www.wikipedia.org/
Type=Application
Categories=Office;
