[Desktop Entry]
Type=Application
Name=Wikipedia Encyclopedia
Name[fr]=Encyclopédie Wikipedia
Name[pt]=Enciclopédia Wikipedia
Name[pt_BR]=Enciclopédia Wikipedia
Name[ru]=Википедия
TryExec=browser
Exec=browser http://www.wikipedia.org/
Icon=tazwikiss
Categories=Office;Database;
