[Desktop Entry]
Encoding=UTF-8
Name=Wikipedia Encyclopedia
Name[fr]=Encyclopédie Wikipedia
Icon=wikipedia
Exec=browser http://www.wikipedia.org/
Type=Application
Categories=Office;
