[Desktop Entry]
Encoding=UTF-8
Name=Zoho Document Viewer
Name[fr]=Visualiseur de document Zoho
Icon=zoho
Exec=browser http://viewer.zoho.com/
Type=Application
Categories=Office;
