[Desktop Entry]
Version=1.0
Name=Create a bootable USB 
Name[fr]=Créer une clé USB bootable
Comment=A New Bootable USB Solution
Comment[fr]=Une nouvelle façon de démarrer par USB
Categories=GNOME;System;Filesystem;
Exec=/usr/share/ventoy/TazVentoy.sh
Icon=/usr/share/ventoy/WebUI/static/img/VentoyLogo.png
Terminal=false
Type=Application
