[Desktop Entry]
Type=Application
Name=Cgoban
GenericName=GO Game GUI
Comment=A board game GUI for Go
Comment[ru]=Графический интерфейс настольной игры Го
Exec=cgoban
Terminal=false
Icon=applications-internet
StartupNotify=true
Categories=Game;BoardGame;
MimeType=application/x-go-sgf;text/sgf;text/x-sgf;
