[Desktop Entry]
Encoding=UTF-8
Name=Cgoban
GenericName=GO Game GUI
Comment=A board game GUI for Go
Exec=cgoban
Icon=applications-internet.png
Terminal=false
Type=Application
Version=1.9.14
Categories=Application;GTK;GNOME;Game;BoardGame;
StartupNotify=true
MimeType=application/x-go-sgf;text/sgf;text/x-sgf;
