[Desktop Entry]
Version=1.0
Name=Iron Web Browser
Name[fr]=Navigateur Iron
Name[pt]=Navegador Iron
Name[pt_BR]=Navegador Iron
Name[ru]=Браузер Iron
Exec=iron
Terminal=false
Icon=iron
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;text/plain;application/xhtml+xml;application/xml;image/svg+xml;application/x-shockwave-flash;image/jpeg;image/png;
