[Desktop Entry]
Type=Application
Name=Blender 3D creation suite
Name[es]=Indice
Name[fr]=Blender modeleur 3D
Name[pt]=Modelador 3D Blender
Name[pt_BR]=Modelador 3D Blender
Name[ru]=Редактор 3D-моделей Blender
Name[zh_CN]=Blender-3D制作套装
GenericName=3D Modeler/Renderer
GenericName[cs]=Modelář 3D scén
GenericName[da]=3D Modelerer/Fremviser
GenericName[de]=3D-Modeler/Renderer
GenericName[el]=3D Μοντελοποιητής/Αποτυπωτής
GenericName[es]=Modelador de escenas 3D
GenericName[fr]=Logiciel d'animation et de modélisation 3D
GenericName[hu]=3D-s modellező
GenericName[it]=Modellatore e render 3D
GenericName[pt]=Modelador/Rasterizador 3D
GenericName[pt_BR]=Modelador/Renderizador 3D
GenericName[ru]=3D рендерер/моделер
GenericName[sl]=3D Modelirnik scen/upodabljalnik
GenericName[sv]=3D-modellering/uppritning
GenericName[zh_CN]=3D 建模/渲染器
GenericName[zh_TW]=3D 場景繪製程式
Comment=Create and edit 3D models and animations
Comment[da]=Et program til 3d-modelering
Comment[de]=3D Modellierung, Animation und Rendering
Comment[es]=Un programa de 3D
Comment[fr]=Création et édition d'objets 3D et animations
Comment[ru]=Создание и редактирование трёхмерных моделей и анимаций
Exec=blender
Terminal=false
Icon=blender
X-MultipleArgs=false
Categories=Graphics;3DGraphics;
MimeType=application/blender;application/x-blender;
