[Desktop Entry]
Encoding=UTF-8
Name=Blender 3D creation suite
Name[zh_CN]=Blender-3D制作套装
Exec=blender
Icon=blender
Type=Application
Categories=Graphics;
