[Desktop Entry]
Encoding=UTF-8
Name=Mitter Twitter Client
Name[fr]=Client Twitter Mitter
Exec=mitter
Icon=mitter
Terminal=false
Type=Application
Categories=Application;Network;
