[Desktop Entry]
Version=1.0
Type=Application
Name=emelFM2 File manager
Name[fr]=Gestionnaire de fichiers emelFM2 
Name[zh_CN]=emelFM2文件管理工具
GenericName=2-pane file manager
Exec=emelfm2
Icon=emelfm2.png
Categories=System;
