[Desktop Entry]
Version=1.0
Type=Application
Name=emelFM2 File manager
Name[fr]=emelFM2 Gestionnaire de fichiers
GenericName=2-pane file manager
Exec=emelfm2
Icon=/usr/share/pixmaps/emelfm2/emelfm2_48.png
Categories=System;
