[Desktop Entry]
Type=Application
Name=emelFM2 File manager
Name[fr]=Gestionnaire de fichiers emelFM2
Name[pt]=Gerenciador de arquivos emelFM2
Name[pt_BR]=Gerenciador de arquivos emelFM2
Name[ru]=Файловый менеджер emelFM2
Name[zh_CN]=emelFM2文件管理工具
GenericName=File manager
Comment=2-pane file manager
Comment[fr]=2-panneaux gestionnaire de fichiers
Comment[de]=2-Fenster Dateimanager
Comment[ru]=Двухпанельный файловый менеджер
Exec=emelfm2
Icon=emelfm2
StartupNotify=false
Categories=System;FileTools;FileManager;
