[Desktop Entry]
Type=Application
Name=Firefox Web Browser (official)
Name[fr]=Navigateur web Firefox (officiel)
Name[ru]=Браузер Firefox (официальный)
Exec=firefox-official %u
Icon=firefox-official
Categories=GTK;Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;application/xml;
