[Desktop Entry]
Encoding=UTF-8
Name=Firefox Web Browser (official)
Name[fr]=Navigateur web Firefox (officiel)
Exec=firefox-official
Icon=firefox-official
Type=Application
Categories=Application;Network;
