[Desktop Entry]
Type=Application
Name=Firefox Private Mode (official)
GenericName=Mozilla Firefox Private Mode.
Comment=Open Mozilla Firefox in private mode.
Categories=GTK;Network;WebBrowser;
Icon=firefox-official
Exec=firefox-official --private-window
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
