[Desktop Entry]
Encoding=UTF-8
Name=Graphical Boot
Exec=tazfbsplash box
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
