[Desktop Entry]
Encoding=UTF-8
Name=PostgreSQL Databases
Name[fr]=Bases de données PostgreSQL
Icon=Introduction
Exec=browser http://127.0.0.1/phppgadmin/
Type=Application
Categories=Development;
