[Desktop Entry]
Encoding=UTF-8
Exec=assaultcube
Icon=assaultcube
Type=Application
Terminal=false
MultipleArgs=false
Name=AssaultCube
Name[zh_CN]=反恐突击
GenericName=Realistic Multiplayer FPS
GenericName[zh_CN]=第一人称射击游戏
MimeType=text/html
StartupNotify=false
Categories=Game;ActionGame;
