[Desktop Entry]
Type=Application
Name=Audio Player Flmusic
Name[fr]=Lecteur audio Flmusic
Name[pt]=Reprodutor de audio Flmusic
Name[pt_BR]=Reprodutor de audio Flmusic
Name[ru]=Аудио проигрыватель Flmusic
Name[zh_CN]=Flmusic 音乐播放器
Exec=flmusic
Icon=audio-x-wav
Categories=AudioVideo;Audio;Player;
MimeType=audio/x-scpls;audio/x-mpegurl;audio/mpegurl;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/x-wav;audio/ogg+vorbis;audio/ogg;application/flac;
