[Desktop Entry]
Encoding=UTF-8
Name=Urlgfe Download
Name[fr]=Téléchargement Urlgfe
Comment=Download multiple URLs and apply it to one of setting/queue.
Exec=urlgfe
Icon=urlgfe-icon.png
Terminal=false
Type=Application
Categories=Application;Network;
