[Desktop Entry]
Encoding=UTF-8
Name=Manage Windows drivers
Name[fr]=Gestion de pilotes Windows
Name[pt]=Gerenciador de Drivers do Windows
Exec=subox tazndisbox
Icon=/usr/share/icons/Tango/16x16/apps/system-installer.png
Type=Application
Categories=System;
