[Desktop Entry]
Encoding=UTF-8
Name=Manage Windows drivers
Name[fr]=Gestion de pilotes Windows
Name[pt]=Gerenciador de Drivers do Windows
Name[pt_BR]=Gerenciador de Drivers do Windows
Exec=subox tazndisbox
Icon=system-installer
Type=Application
Categories=System;
