[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gutenpy eBook Reader
Name[fr]=Gutenpy
Name[pt]=Leitor de eBooks Gutenpy
Name[pt_BR]=Leitor de eBooks Gutenpy
Exec=gutenpy.py
Icon=book-lg
Type=Application
Categories=Office;
GenericName[en_GB]=
