[Desktop Entry]
Type=Application
Name=Qt5 Assistant
Name[bs]=Qt5 Asistent
Name[cs]=Qt5 asistent
Name[de]=Qt5-Assistent
Name[el]=Βοηθός Qt5
Name[es]=Asistente Qt5
Name[pt]=Assistente do Qt5
Name[pt_BR]=Assistente Qt5
Name[ru]=Помощник Qt5
Name[sl]=Pomočnik za Qt5
Name[zh_CN]=Qt5 助手
Name[zh_TW]=Qt5 助理
GenericName=Qt5 Document Browser
GenericName[bs]=Preglednik QT5 dokumenata
GenericName[cs]=Prohlížeč dokumentace
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentbrowser
GenericName[el]=Προβολέας εγγράφων
GenericName[es]=Navegador de documentos
GenericName[fr]=Explorateur de documentation Qt5
GenericName[hu]=Dokumentumböngésző
GenericName[it]=Visualizzatore di documenti
GenericName[pt]=Navegador de Documentos
GenericName[pt_BR]=Navegador de Documentos
GenericName[ru]=Программа просмотра документов
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sv]=Dokumentbläddrare
GenericName[zh_CN]=文档浏览器
GenericName[zh_TW]=文件閱讀器
Exec=/usr/bin/assistant
Icon=assistant
Terminal=false
Categories=Development;Documentation;
X-KDE-StartupNotify=true
