[Desktop Entry]
Encoding=UTF-8
Name=Bc Calculator
Name[fr]=Bc Calculatrice
Name[zh_CN]=Bc计算器
Comment=Texte mode Calculator
Comment[fr]=Calculatrice en mode texte
Comment[zh_CN]=命令行模式的计算器
Exec=xterm -e bc
Icon=/usr/share/icons/Tango/jwm/accessories-calculator.png
Terminal=false
Type=Application
Categories=Utility;
