[Desktop Entry]
Encoding=UTF-8
Name=Bc Calculator
Name[fr]=Bc Calculatrice
Comment=Texte mode Calculator
Comment[fr]=Calculatrice en mode texte
Exec=xterm -e bc
Icon=/usr/share/icons/Tango/jwm/accessories-calculator.png
Terminal=false
Type=Application
Categories=Utility;
