[Desktop Entry]
Encoding=UTF-8
Name=System Informations
Name[fr]=Informations système
Name[pt_BR]=Informações e Testes do Sistema
Exec=hardinfo
Icon=hardinfo
Terminal=false
Type=Application
StartupNotify=true
Categories=System
