[Desktop Entry]
Type=Application
Name=System Information
Name[fr]=Informations système
Name[pt]=Informações e Testes do Sistema
Name[pt_BR]=Informações e Testes do Sistema
Name[ru]=Информация о системе
Exec=hardinfo
Icon=hardinfo
StartupNotify=true
Categories=System
