[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Thunderbird Mail Client
Name[de]=Thunderbird - E-Mail
Name[es]=Correo y Agenda de Thunderbird
Name[fr]=Messagerie Mozilla Thunderbird
Name[pt]=Cliente de email Thunderbird
Name[pt_BR]=Cliente de email Thunderbird
Comment=Mail & News Reader
Comment[de]=Lesen von E-Mails, Blogs, Newsgroup
Comment[es]=Consultar correo electrnico, blogs, grupos de noticias Usenet y la agenda
Comment[fr]=Consulter les e-mails, blogs, forums de discussion Usenet
Comment[pt_BR]=Ver e-mails, blogs, fruns de discusso da Usenet
Exec=/usr/bin/thunderbird
Icon=thunderbird
Terminal=false
Type=Application
Categories=Application;Network;
