[Desktop Entry]
Encoding=UTF-8
Name=Wifibox Configure Wireless
Name[fr]=Wifibox Connexion sans fil
Comment=Configure Wifi connection
Exec=subox wifibox
Icon=/usr/share/icons/Tango/16x16/devices/network-wireless.png
Type=Application
Categories=System;Application;
