[Desktop Entry]
Type=Action
Name=Publish on Yandex.Disk
Name[ru]=Опубликовать в Яндекс.Диск
Name[uk]=Опублікувати на Яндекс.Диск
Icon=yandex-disk
Profiles=PublishToYandex;
ShowIfRunning=/usr/bin/yandex-disk

[X-Action-Profile PublishToYandex]
Exec=sh -c "/usr/libexec/yandex-disk/publish %f"
