[Desktop Entry]
Type=Action
Name=Withdraw from public access
Name[ru]=Убрать из публичного доступа
Name[uk]=Вилучити з публічного доступу
Icon=yandex-disk
Profiles=UnpublishFromYandex;
ShowIfRunning=/usr/bin/yandex-disk

[X-Action-Profile UnpublishFromYandex]
ShowIfTrue=sh -c "/usr/libexec/yandex-disk/test %f"
Exec=sh -c "/usr/libexec/yandex-disk/unpublish %f"
