[Desktop Entry]
Name=Fotoxx Editor
Comment=A fast GTK+ Image Editor
Exec=fotoxx %f
Terminal=false
Type=Application
Icon=/usr/share/fotoxx/icons/fotoxx.png
Categories=GTK;Graphics;2DGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff

