[Desktop Entry]
Encoding=UTF-8
Name=Wireshark Analyzer
Name[fr]=Analiseur Wireshark
Exec=wireshark
Icon=wireshark.png
Type=Application
Categories=Network;
