[Desktop Entry]
Type=Application
Name=NeonView
Comment=Free, lightweight image viewer
Comment[ru]=Просмотр изображений
Exec=neonview %F
Icon=image
Terminal=false
Categories=Graphics;Viewer;
MimeType=image/bmp;image/x-bmp;image/x-MS-bmp;image/gif;image/jp2;image/jpeg2000;image/jpx;image/jpeg;image/pjpeg;image/png;image/vnd.microsoft.icon;application/ico;image/ico;image/icon;image/x-ico;image/x-icon;text/ico;image/x-win-bitmap;application/x-navi-animation;image/x-cmu-raster;image/x-pcx;image/x-xbitmap;image/x-tga;image/x-icb;image/svg+xml; image/tiff;image/x-xpixmap;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-quicktime;image/x-icns;
