[Desktop Entry]
Type=Application
Name=Desktop Launcher
Name[fr]=Lanceur de bureau
Name[pt]=Lançador do desktop
Name[pt_BR]=Lançador do desktop
Exec=lxlauncher
Icon=application-x-executable
Categories=Utility;
