[Desktop Entry]
Encoding=UTF-8
Name=GAdmin-openvpn-client
Comment=OpenVPN client administration
Exec=subox /usr/sbin/gadmin-openvpn-client
Icon=gadmin-openvpn-client
Terminal=false
Type=Application
Categories=GTK;System;
