[Desktop Entry]
Name=Chemtool
Comment=Molecules 2D drawing
Name[cs_CZ.ISO8859-2]=Chemtool
Name[fr_FR]=Chemtool
Comment[cs_CZ.ISO8859-2]=Editor molekul
Comment[de_DE.ISO8859-1]=Moleküleditor
Comment[fr_FR.ISO8859-1]=Editeur de molécules
Exec=chemtool 
Icon=/usr/share/pixmaps/chemtool.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Education;Science;Chemistry;Physics;
