[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xbattle
Exec=xbattle -black me -white unix -armies 4 -bases 2 -towns 2 -militia 2 -hills 7
Terminal=false
Categories=Application;Game;
Comment=Concurrent multi-player battle strategy game
