[Desktop Entry]
Type=Application
Name=Envy24 Control
GenericName=Envy24 Control Utility
Comment=Mixer and GUI control utility for Envy24-based sound cards
Exec=envy24control
Icon=audio-x-generic
Categories=AudioVideo;Audio;
