[Desktop Entry]
Encoding=UTF-8
Name=Retawq Web browser
Name[]=Retawq Navigateur Web
Exec=xterm -e retawq
Icon=/usr/share/icons/Tango/jwm/internet-web-browser.png
Type=Application
Categories=Network;
