[Desktop Entry]
Encoding=UTF-8
Name=Retawq Web browser
Name[fr]=Retawq Navigateur Web
Exec=xterm -e retawq
Icon=internet-web-browser
Type=Application
Categories=Network;
