[Desktop Entry]
Encoding=UTF-8
Name=Vi Text Editor
Name[fr]=Editeur de texte Vi
Exec=terminal busybox vi %f
Terminal=true
Icon=text-editor
Type=Application
Categories=Application;Development;
MimeType=text/plain;text/x-csrc;text/html;text/css;text/x-diff;
