[Desktop Entry]
Type=Application
Name=Local Web Server
Name[ru]=Локальный веб-сервер
Exec=browser http://localhost/
Icon=text-html
Categories=Network;
