[Desktop Entry]
Type=Application
Name=Local Web Server
Name[fr]=Serveur Web local
Name[pt]=Servidor Web local
Name[pt_BR]=Servidor Web local
Name[ru]=Локальный веб-сервер
Exec=browser http://localhost/
Icon=network-server
Categories=Network;
