[Desktop Entry]
Encoding=UTF-8
Name=Local ports scan
Name[fr_FR]=Ports analyse locale
Name[zh_CN]=本地端口扫描
Exec=xterm -hold -e 'pscan localhost'
Icon=other.png
Type=Application
Categories=Network;
