[Desktop Entry]
Encoding=UTF-8
Name=Top Processes Viewer
Type=Application
Comment=Show System Processes
Exec=xterm -e top
Icon=other.png
Categories=ConsoleOnly;System;Application;
GenericName=Process Viewer
