[Desktop Entry]
Encoding=UTF-8
Name=Top Processes Viewer
Type=Application
Comment=Show System Processes
Exec=xterm -e top
Icon=/usr/share/icons/Tango/jwm/applications-other.png
Categories=ConsoleOnly;System;Application;
GenericName=Process Viewer
