[Desktop Entry]
Encoding=UTF-8
Name=Top Processes Viewer
Name[fr_FR]=Processus les plus actifs
Name[zh_CN]=进程管理器
Type=Application
Comment=Show System Processes
Comment[fr_FR]=Afficher les processus système
Exec=xterm -e top
Icon=other.png
Categories=ConsoleOnly;System;Application;
GenericName=Process Viewer
