[Desktop Entry]
Encoding=UTF-8
Name=Ruby interpreter
Name[pt]=Interpretador Ruby
Name[pt_BR]=Interpretador Ruby
Terminal=false
Exec=xterm -e irb
Icon=ruby
Type=Application
Categories=Development;
