[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Rick Dangerous
Exec=xrick -data /usr/share/xrick/data.zip
Icon=xrick
Terminal=false
Categories=Application;Game;
