[Desktop Entry]
Type=Application
Name=Infinality style
Name[ru]=Стиль Infinality
Comment=Choose font Infinalty style
Comment[ru]=Выберите стиль шрифтов Infinality
Exec=subox /usr/bin/infctl-yad
Icon=infinality
Terminal=false
Categories=Settings;DesktopSettings;
