[Desktop Entry]
Type=Application
Name=Svkbd Virtual Keyboard (FR)
Name[fr]=Clavier virtuel Svkbd (FR)
Icon=input-keyboard
Exec=svkbd-fr -d
Categories=Utility;
