[Desktop Entry]
Encoding=UTF-8
Name=Seamonkey Web Browser (official)
Name[fr]=Navigateur Web Seamonkey
Name[pt]=Navegador web Seamonkey
Name[pt_BR]=Navegador web Seamonkey
Comment=Browse the Internet
Exec=seamonkey-official
Icon=seamonkey-official
Type=Application
Categories=Application;Network;
