[Desktop Entry]
Encoding=UTF-8
Name=Wine Notepad
Name[fr]=Bloc-notes Wine
Name[ru]=Блокнот Wine
Exec=notepad %f
Icon=accessories-text-editor
Terminal=false
Type=Application
MimeType=text/plain
Categories=Utility;TextEditor;
