[Desktop Entry]
Encoding=UTF-8
Name=Wine Configuration
Name[fr]=Configuration de Wine
Name[pt]=Configuração do Wine
Name[pt_BR]=Configuração do Wine
Name[ru]=Параметры Wine
Exec=winecfg
Icon=wine
Terminal=false
Type=Application
MimeType=text/plain
Categories=System
