[Desktop Entry]
Type=Application
Name=Airstrike
Comment=Battle Air
Exec=/usr/bin/airstrike
Icon=/usr/share/airstrike/data/zeppelin-right.png
Categories=Game;ArcadeGame;
