[Desktop Entry]
Encoding=UTF-8
Name=Airstrike
Comment=Battle Air
Exec=/usr/bin/airstrike
Icon=/usr/share/airstrike/data/zeppelin-right.png
Type=Application
Categories=Application;Game;