[Desktop Entry]
Name=NetSurf Web Browser
Name[de]=Netznavigator NetSurf
Name[fr]=Navigateur Web NetSurf
Name[pt]=Navegador Web NetSurf
Name[pt_BR]=Navegador Web NetSurf
Type=Application
Categories=Network;
MimeType=text/html;application/xhtml+xml;
Exec=netsurf-gtk %u
Icon=netsurf
