[Desktop Entry]
Encoding=UTF-8
Name=XPenguins
Comment=Toons walking on your windows
Comment[fr]=Des personnages se baladent sur vos fenêtres
Exec=xpenguins.sh
Icon=xpenguins
Type=Application
Categories=Game;Amusement;
