[Desktop Entry]
Type=Application
Name=Dillo Web Browser
Name[de]=Netznavigator Dillo
Name[fr]=Navigateur Web Dillo
Name[pt]=Navegador Web Dillo
Name[pt_BR]=Navegador Web Dillo
Name[ru]=Браузер Dillo
GenericName=Web Browser
GenericName[ru]=Веб-браузер
Comment=Very small and fast GUI web browser
Comment[ru]=Очень маленький и быстрый графический веб-браузер
Exec=dillo %u
Icon=dillo
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;application/x-xpinstall;
