[Desktop Entry]
Encoding=UTF-8
Name=Gimp
GenericName=GNU Images Manipulation
GenericName[fr]=Manipulateur d'images
Comment=Creat and modify images with The GIMP
Exec=gimp
Icon=gimp.png
Type=Application
Terminal=false
Categories=Application;Graphics;
