[Desktop Entry]
Icon=other
Name=OfflineImap 
Comment=IMAP/Maildir synchronization and reader support
Exec=xterm -e offlineimap
Terminal=true
Type=Application
Categories=Network;Utility;ConsoleOnly;
StartupNotify=true
