[Desktop Entry]
Type=Application
Name=Alsamixer Volume mixer
Name[fr]=Mixer de volumes Alsamixer
Name[ru]=Микшер громкости Alsamixer
Name[zh_CN]=Alsamixer 音量控制
Exec=alsamixer
Terminal=true
Icon=audio-x-generic
Categories=AudioVideo;Audio;
