[Desktop Entry]
Encoding=UTF-8
Name=Alsamixer Volume mixer
Name[fr]=Mixer de volumes Alsamixer
Name[zh_CN]=Alsamixer 音量控制
Type=Application
Exec=xterm -e alsamixer
Icon=audio-x-generic
Categories=AudioVideo;Audio;
