[Desktop Entry]
Type=Application
Name=Man pages
Name[ru]=Страницы Man
Exec=browser http://localhost:8888/
Icon=help-contents
Categories=Development;Documentation;
