[Desktop Entry]
Name=Visual Boy Advance GTK+
Comment=An emulator for Gameboy and Gameboy Advance systems
Exec=/usr/bin/gvba
Icon=vba-64
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
