[Desktop Entry]
Name=Visual Boy Advance GTK+
Comment=An emulator for Gameboy and Gameboy Advance systems
Exec=/usr/bin/gvba
Icon=/usr/games/VisualBoyAdvance/vba-64.png
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
