[Desktop Entry]
Type=Application
Name=Document Viewer
Name[cs]=Prohlížeč dokumentů
Name[da]=Dokumentfremviser
Name[de]=Dokumentenbetrachter
Name[el]=Εφαρμογή προβολής εγγράφων
Name[es]=Visor de documentos
Name[fr]=Visionneur de documents
Name[hu]=Dokumentummegjelenítő
Name[id]=Penampil Dokumen
Name[it]=Visualizzatore documenti
Name[pt]=Visualizador de Documento
Name[pt_BR]=Visualizador de Documentos
Name[ru]=Просмотр документов
Name[sl]=Pregledovalnik dokumentov
Name[sv]=Dokumentvisare
Name[zh_CN]=文档查看器
Name[zh_TW]=文件檢視器
Comment=View multi-page documents
Comment[cs]=Zobrazovat dokumenty po více stránkách
Comment[da]=Vis dokumenter med flere sider
Comment[de]=Mehrseitige Dokumente anzeigen
Comment[el]=Προβολή εγγράφων πολλαπλών σελίδων
Comment[es]=Vea documentos multipágina
Comment[fr]=Afficher des documents multipages
Comment[hu]=Többoldalas dokumentumok megjelenítése
Comment[id]=Melihat dokumen multihalaman
Comment[it]=Visualizza documenti multi-pagina
Comment[pt]=Visualizar documentos multi-páginas
Comment[pt_BR]=Visualize documentos de múltiplas páginas
Comment[ru]=Просмотр многостраничных документов
Comment[sl]=Poglejte večstranske dokumente
Comment[sv]=Visa dokument med flera sidor
Comment[zh_CN]=查看多页文档
Comment[zh_TW]=顯示多頁文件
Exec=evince %U
Icon=evince
StartupNotify=true
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;image/tiff;
