[Desktop Entry]
Encoding=UTF-8
Name=pgAdmin III
Exec=pgadmin3
Icon=pgadmin3
Type=Application
Categories=Application;Development;
MimeType=text/html
Comment=PostgreSQL Tools
Comment[fr]=Otuils PostgreSQL
