[Desktop Entry]
Encoding=UTF-8
Name=Mrxvt
GenericName=Multi-tab Terminal
Comment=Terminal emulator with tabs support
Exec=mrxvt -bg black -fg white -cr orange -pr green
Icon=mrxvt
Type=Application
Categories=Utility;Terminal;
