[Desktop Entry]
Encoding=UTF-8
Name=Google Calendar
Icon=google-calendar
Exec=browser http://www.google.com/calendar
Type=Application
Categories=Office;
