[Desktop Entry]
Encoding=UTF-8
Name=Firefox Web Browser
Name[fr]=Navigateur Web Firefox
Comment=Browse the Internet
Exec=firefox
Icon=firefox.png
Type=Application
Categories=Application;Network;
