[Desktop Entry]
Encoding=UTF-8
Name=Firefox
GenericName=Web Browser
GenericName[fr]=Navigateur Web
Comment=Browse the Internet
Exec=firefox
Icon=mozicon.png
Type=Application
Categories=Application;Network;
