[Desktop Entry]
Encoding=UTF-8
Name=Firefox Web Browser
Name[fr]=Navigateur Web Firefox
Name[pt]=Navegador Web Firefox
Name[pt_BR]=Navegador Web Firefox
Name[zh_CN]=Firefox网络浏览器
Comment=Browse the Internet
Comment[zh_CN]=浏览网络
Exec=firefox
Icon=firefox
Type=Application
Categories=Application;Network;
