[Desktop Entry]
Encoding=UTF-8
Name=XSnow
Comment=Let it snow on your desktop
Comment[fr]=Tombe la neige, sur votre bureau
Exec=xsnow.sh
Icon=xsnow
Type=Application
Categories=Game;Amusement;
