[Desktop Entry]
Encoding=UTF-8
Name=Bastet Tetris
GenericName=Tetris clone
Type=Application
Comment=Play to bastard tetris
Terminal=true
Exec=xterm -e bastet
Icon=/usr/share/icons/Tango/jwm/applications-other.png
Categories=Application;Game;

