[Desktop Entry]
Encoding=UTF-8
Name=ListPatron
Exec=listpatron
Icon=/usr/share/pixmaps/listpatron/icons/listpatron-col-add.png
Type=Application
Categories=Office;
