[Desktop Entry]
Encoding=UTF-8
Name=Terminal Server Client
Comment=Connect to a remote computer
Comment[fr]=Se connecter à un ordinateur distant
TryExec=tsclient
Exec=tsclient
Icon=tsclient
Terminal=false
Type=Application
Version=1.0
Actions=Full;
Categories=Network;
[Desktop Action Full]
Exec=tsclient -f
