[Desktop Entry]
Encoding=UTF-8
Name=X defaults behavior
Icon=/usr/share/icons/Tango/jwm/preferences-system-session.png
Exec=leafpad /home/hacker/.Xdefaults
Type=Application
Categories=Settings;DesktopSettings;GTK;
