{header}
<title>{repo|escape}: {node|short}</title>
</head>
<body>

<!-- Header -->
<div id="header">
    <a href="http://hg.slitaz.org/"><img id="logo"
		src="{staticurl}logo.png" 
		title="hg.slitaz.org" alt="hg.slitaz.org" /></a>
    <p id="titre">#!/Hg/repos</p>
</div>

<!-- Content -->
<div id="content-full">

<!-- Block begin -->
<div class="block">
	<!-- Nav block begin -->
	<div id="block_nav">
		<h3><img src="{staticurl}network.png" alt="png" />Navigation</h3>
		<ul>
			<li><a href="{url}shortlog/{node|short}{sessionvars%urlparameter}">log</a></li>
			<li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
			<li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
			<li><a href="{url}branches{sessionvars%urlparameter}">branches</a></li>
			<li class="active">changeset</li>
			<li><a href="{url}raw-rev/{node|short}{sessionvars%urlparameter}">raw</a></li>
			<li><a href="{url}file/{node|short}{sessionvars%urlparameter}">browse</a></li>
		</ul>
	<!-- Nav block end -->
	</div>
	<!-- Top block begin -->
	<div id="block_top">
		<h1>Project: {repo|escape}</h1>
		<p>
			This web interface lets you follow in real time all improvements,
			fixes and other changes made by SliTaz GNU/Linux contributors.
		</p>
		<ul>
			<li>Download {repo|escape} archive:</li>
			{archives%archiveentry}
		</ul>
		<h3>Search</h3>
		<form class="search" action="{url}log">
			{sessionvars%hiddenformentry}
			<p><input name="rev" id="search1" type="text" /></p>
			<div id="hint">find changesets by author, revision,
			files, or words in the commit message</div>
		</form>
	<!-- Top block end -->
	</div>
<!-- Block end -->
</div>

<h2><a href="{url}{sessionvars%urlparameter}">{repo|escape}</a>
	changeset {rev}:{node|short} {changesetbranch%changelogbranchname} {changesettag}</h2>

<div class="description">{desc|strip|escape|addbreaks|nonempty}</div>

<table id="changesetEntry">
<tr>
 <th class="author">author</th>
 <td class="author">{author|obfuscate}</td>
</tr>
<tr>
 <th class="date">date</th>
 <td class="date">{date|date} ({date|age} ago)</td></tr>
<tr>
 <th class="author">parents</th>
 <td class="author">{parent%changesetparent}</td>
</tr>
<tr>
 <th class="author">children</th>
 <td class="author">{child%changesetchild}</td>
</tr>
<tr>
 <th class="files">files</th>
 <td class="files">{files}</td>
</tr>
</table>

<div class="overflow">
<div class="sourcefirst">   line diff</div>

{diff}
</div>

<!-- End of content -->
</div>

{footer}
