{header}
<title>{repo|escape}: error</title>
</head>
<body>

<!-- Header -->
<div id="header">
    <a href="http://hg.slitaz.org/"><img id="logo"
    src="{staticurl}logo.png" title="www.slitaz.org" alt="www.slitaz.org"
    style="border: 0px solid ; width: 200px; height: 74px;" /></a>
    <p id="titre">#!/Hg/repos</p>
</div>

<div class="container">
<div id="nav">

<div class="nav_box">
<h4>Navigation</h4>
<ul>
	<li><a href="{url}shortlog{sessionvars%urlparameter}">log</a></li>
	<li><a href="{url}graph{sessionvars%urlparameter}">graph</a></li>
	<li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
	<li><a href="{url}branches{sessionvars%urlparameter}">branches</a></li>
</ul>
</div>

<div class="nav_box">
<h4>Search</h4>
<form class="search" action="{url}log">
{sessionvars%hiddenformentry}
<p><input name="rev" id="search1" type="text" /></p>
<div id="hint">find changesets by author, revision,
files, or words in the commit message</div>
</form>
</div>
</div>

<div class="main">

<h2><a href="{url}{sessionvars%urlparameter}">{repo|escape}</a></h2>
<h3>error</h3>

<div class="description">
<p>
An error occurred while processing your request:
</p>
<p>
{error|escape}
</p>
</div>

<!-- End of content -->
</div>

{footer}
