{header}
<title>{repo|escape}: {file|escape} annotate</title>
</head>
<body>

<!-- Header -->
<div id="header">
    <a href="http://hg.slitaz.org/"><img id="logo"
		src="{staticurl}logo.png" 
		title="hg.slitaz.org" alt="hg.slitaz.org" /></a>
    <p id="titre">#!/Hg/repos</p>
</div>

<!-- Content -->
<div id="content-full">

<!-- Block begin -->
<div class="block">
	<!-- Nav block begin -->
	<div id="block_nav">
		<h3><img src="{staticurl}network.png" alt="png" />Navigation &amp; View</h3>
		<div class="right_box">
			<ul>
				<li><a href="{url}file/{node|short}/{file|urlescape}{sessionvars%urlparameter}">file</a></li>
				<li><a href="{url}diff/{node|short}/{file|urlescape}{sessionvars%urlparameter}">diff</a></li>
				<li class="active">annotate</li>
				<li><a href="{url}log/{node|short}/{file|urlescape}{sessionvars%urlparameter}">file log</a></li>
				<li><a href="{url}raw-annotate/{node|short}/{file|urlescape}">raw</a></li>
			</ul>
		</div>
		<ul>
			<li><a href="{url}shortlog/{node|short}{sessionvars%urlparameter}">log</a></li>
			<li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
			<li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
			<li><a href="{url}branches{sessionvars%urlparameter}">branches</a></li>
			<li><a href="{url}rev/{node|short}{sessionvars%urlparameter}">changeset</a></li>
			<li><a href="{url}file/{node|short}{path|urlescape}{sessionvars%urlparameter}">browse</a></li>
		</ul>
	<!-- Nav block end -->
	</div>
	<!-- Top block begin -->
	<div id="block_top">
		<h1>Project: {repo|escape}</h1>
		<p>
			This web interface lets you follow in real time all improvements,
			fixes and other changes made by SliTaz GNU/Linux contributors.
		</p>
		<h3>Search</h3>
		<form class="search" action="{url}log">
			{sessionvars%hiddenformentry}
			<p><input name="rev" id="search1" type="text" /></p>
			<div id="hint">find changesets by author, revision,
			files, or words in the commit message</div>
		</form>
	<!-- Top block end -->
	</div>
<!-- Block end -->
</div>

<h2><a href="{url}{sessionvars%urlparameter}">{repo|escape}</a>
	annotate {file|escape} @ {rev}:{node|short}</h2>

<div class="description">{desc|strip|escape|addbreaks|nonempty}</div>

<table id="changesetEntry">
<tr>
 <th class="author">author</th>
 <td class="author">{author|obfuscate}</td>
</tr>
<tr>
 <th class="date">date</th>
 <td class="date">{date|date} ({date|age} ago)</td>
</tr>
<tr>
 <th class="author">parents</th>
 <td class="author">{parent%filerevparent}</td>
</tr>
<tr>
 <th class="author">children</th>
 <td class="author">{child%filerevchild}</td>
</tr>
{changesettag}
</table>

<div class="overflow">
<table class="bigtable">
<tr>
 <th class="annotate">rev</th>
 <th class="line">&nbsp;&nbsp;line source</th>
</tr>
{annotate%annotateline}
</table>
</div>

<!-- End of content -->
</div>

{footer}
