{header}
	<title>Mercurial repositories index</title>
</head>
<body>

<!-- Header -->
<div id="header">
    <a href="http://hg.slitaz.org/"><img id="logo"
		src="{staticurl}logo.png" 
		title="www.slitaz.org" alt="www.slitaz.org" /></a>
    <p id="titre">#!/Hg/repos</p>
</div>

<!-- Content -->
<div id="content-full">

<!-- Block begin -->
<div class="block">
	<!-- Nav block begin -->
	<div id="block_nav">
		<h3><img src="{staticurl}development.png" alt="png" />Devel corner</h3>
		<ul>
			<li><a href="http://www.slitaz.org/en/devel/">Website/devel</a></li>
			<li><a href="http://labs.slitaz.org/">Laboratories</a></li>
			<li><a href="http://bb.slitaz.org/">Build Bot</a></li>
			<li><a href="http://scn.slitaz.org/">Community Network</a></li>
			<li><a href="http://pkgs.slitaz.org/">Packages</a></li>
			<li><a href="http://tank.slitaz.org/">Tank Server</a></li>
		</ul>
	<!-- Nav block end -->
	</div>
	<!-- Top block begin -->
	<div id="block_top">
		<h1>SliTaz Repos</h1>
		<p>
			This web interface lets you follow in real time all improvements,
			fixes and other changes made by SliTaz contributors.
		</p>
	<!-- Top block end -->
	</div>
<!-- Block end -->
</div>

<h2>SliTaz Mercurial Repositories</h2>

<table class="bigtable">
    <tr>
        <th><a href="?sort={sort_name}">Name</a></th>
        <th><a href="?sort={sort_description}">Description</a></th>
        <th><a href="?sort={sort_contact}">Contact</a></th>
        <th><a href="?sort={sort_lastchange}">Last change</a></th>
        <th>&nbsp;</th>
    </tr>
    {entries%indexentry}
</table>

<!-- End of content -->
</div>

{footer}
