{header}
	<title>Mercurial repositories index</title>
</head>
<body>

<!-- Header -->
<div id="header">
    <a href="http://hg.slitaz.org/"><img id="logo"
    src="{staticurl}logo.png" title="www.slitaz.org" alt="www.slitaz.org"
    style="border: 0px solid ; width: 200px; height: 74px;" /></a>
    <p id="titre">#!/Hg/repos</p>
</div>

<div class="container">

<div id="nav">

<div class="nav_box">
<h4>About SliTaz repos</h4>
<p>
This web interface lets you follow in real time all improvements, fixes
and other changes made by SliTaz contributors.
</p>
</div>


<div class="nav_box">
<h4>SliTaz Network</h4>
<ul>
	<li><a href="http://www.slitaz.org/">Main Website</a></li>
	<li><a href="http://forum.slitaz.org/">Community Forum</a></li>
	<li><a href="http://labs.slitaz.org/">SliTaz Laboratories</a></li>
	<li><a href="http://pkgs.slitaz.org/">Packages Database</a></li>
	<li><a href="http://bb.slitaz.org/">SliTaz Build Bot</a></li>
</ul>
</div>
</div>

<div class="main">
<h2>SliTaz Mercurial Repositories</h2>

<table class="bigtable">
    <tr>
        <th><a href="?sort={sort_name}">Name</a></th>
        <th><a href="?sort={sort_description}">Description</a></th>
        <th><a href="?sort={sort_contact}">Contact</a></th>
        <th><a href="?sort={sort_lastchange}">Last change</a></th>
        <th>&nbsp;</th>
    </tr>
    {entries%indexentry}
</table>
</div>
</div>
{footer}
