{header}
<title>{repo|escape}: {node|short} {path|escape}</title>
</head>
<body>

<!-- Header -->
<div id="header">
    <a href="http://hg.slitaz.org/"><img id="logo"
		src="{staticurl}logo.png" 
		title="hg.slitaz.org" alt="hg.slitaz.org" /></a>
    <p id="titre">#!/Hg/repos</p>
</div>

<!-- Content -->
<div id="content-full">

<!-- Block begin -->
<div class="block">
	<!-- Nav block begin -->
	<div id="block_nav">
		<h3><img src="{staticurl}network.png" alt="png" />Navigation</h3>
		<ul>
			<li><a href="{url}shortlog/{node|short}{sessionvars%urlparameter}">log</a></li>
			<li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
			<li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
			<li><a href="{url}branches{sessionvars%urlparameter}">branches</a></li>
			<li><a href="{url}rev/{node|short}{sessionvars%urlparameter}">changeset</a></li>
			<li class="active">browse</li>
		</ul>
	<!-- Nav block end -->
	</div>
	<!-- Top block begin -->
	<div id="block_top">
		<h1>Project: {repo|escape}</h1>
		<p>
			This web interface lets you follow in real time all improvements,
			fixes and other changes made by SliTaz GNU/Linux contributors.
		</p>
		Download archive: 
		<ul>
			{archives%archiveentry}
		</ul>
		<h3>Search</h3>
		<form class="search" action="{url}log">
			{sessionvars%hiddenformentry}
			<p><input name="rev" id="search1" type="text" /></p>
			<div id="hint">find changesets by author, revision,
			files, or words in the commit message</div>
		</form>
	<!-- Top block end -->
	</div>
<!-- Block end -->
</div>

<div class="main">
<h2><a href="{url}{sessionvars%urlparameter}">{repo|escape}</a>
	directory {path|escape} @ {rev}:{node|short} {tags%changelogtag}</h2>

<table class="bigtable">
<tr>
  <th class="name">name</th>
  <th class="size">size</th>
  <th class="permissions">permissions</th>
</tr>
<tr class="fileline parity{upparity}">
  <td class="name"><a href="{url}file/{node|short}{up|urlescape}{sessionvars%urlparameter}">[up]</a></td>
  <td class="size"></td>
  <td class="permissions">drwxr-xr-x</td>
</tr>
{dentries%direntry}
{fentries%fileentry}
</table>

<!-- End of content -->
</div>

{footer}
