{header}
<title>Mercurial repository not found</title>
</head>
<body>

<!-- Header -->
<div id="header">
    <a href="http://hg.slitaz.org/"><img id="logo"
    src="{staticurl}logo.png" title="www.slitaz.org" alt="www.slitaz.org"
    style="border: 0px solid ; width: 200px; height: 74px;" /></a>
    <p id="titre">#!/Hg/repos</p>
</div>

<div class="container">

<div id="nav">
<div class="nav_box">
<h4>SliTaz Network</h4>
<ul>
	<li><a href="http://www.slitaz.org/">Main Website</a></li>
	<li><a href="http://forum.slitaz.org/">Community Forum</a></li>
	<li><a href="http://labs.slitaz.org/">SliTaz Laboratories</a></li>
	<li><a href="http://pkgs.slitaz.org/">Packages Database</a></li>
	<li><a href="http://bb.slitaz.org/">SliTaz Build Bot</a></li>
</ul>
</div>
</div>

<h2>Mercurial repository not found</h2>

<p>The specified repository "{repo|escape}" is unknown, sorry.

Please go back to the main repository list page.</p>

<!-- End of content -->
</div>

{footer}
