[Desktop Entry]
Type=Application
Name=tramys
Comment=Translate My SliTaz!
Comment[pt_BR]=Traduza meu SliTaz!
Comment[ru]=Переведите свой SliTaz!
Exec=tramys2
Icon=config-language
Categories=GTK;Settings;DesktopSettings;
