[Desktop Entry]
Encoding=UTF-8
Name=Audio Editor mhWaveEdit
Name[fr]=Editeur audio mhWaveEdit
Name[zh_CN]=mhWaveEdit音频编辑器
Comment=Program for editing, playing and recording sound files.
Comment[fr]=Un programme pour éditer, jouer et enregister des fichiers sons.
Comment[zh_CN]=一个可以编辑、播放、录制声音文件的程序。
Exec=mhwaveedit
Type=Application
Categories=AudioVideo;Audio;
Icon=mhwaveedit.xpm
