[Desktop Entry]
Type=Application
Name=Audio Editor mhWaveEdit
Name[fr]=Editeur audio mhWaveEdit
Name[pt]=Editor de Áudio mhWaveEdit
Name[pt_BR]=Editor de Áudio mhWaveEdit
Name[ru]=Аудио-редактор mhWaveEdit
Name[zh_CN]=mhWaveEdité音频编辑器
Comment=Program for editing, playing and recording sound files
Comment[fr]=Un programme pour éditer, jouer et enregister des fichiers sons
Comment[ru]=Программа для правки, воспроизведения и записи звуковых файлов
Exec=mhwaveedit
Icon=mhwaveedit
Categories=AudioVideo;Audio;
