[Desktop Entry]
Name=HomeBank accounting
Name[cs]=Domácí banka HomeBank
Name[de]=HomeBank PBuchhaltung
Name[es]=Contabilidad HomeBank
Name[fr]=Comptabilité HomeBank
Name[pt_BR]=Contas HomeBank
Exec=homebank %F
Terminal=false
StartupNotify=true
Type=Application
Icon=homebank.png
Categories=GTK;Office;Finance;
MimeType=application/x-homebank;
