[Desktop Entry]
Type=Application
Name=GTK+ 3.0 Code demo
Name[ru]=Демонстрация GTK+ 3.0
Exec=gtk3-demo
Icon=gtk-demo
Categories=GTK;Development;Documentation;
