[Desktop Entry]
Type=Application
Name=Boulder
Comment=BoulderDash game
Comment[ru]=Игра BoulderDash
Exec=browser file:///usr/share/diggerjs/boulder.html
Icon=other
Terminal=false
Categories=Game;
