[Desktop Entry]
Type=Application
Name=Boulder
Exec=browser file:///usr/share/diggerjs/boulder.html
Icon=other.png
Terminal=false
Categories=Game;
Comment=BoulderDash game
