[Desktop Entry]
Type=Application
Name=Digger
Exec=browser file:///usr/share/diggerjs/digger.html
Icon=other.png
Terminal=false
Categories=Game;
Comment=Digger game
