[Desktop Entry]
Type=Application
Name=Digger
Comment=Digger game
Comment[ru]=Игра Digger
Exec=browser file:///var/www/digger/digger.html
Icon=other
Terminal=false
Categories=Game;
