[Desktop Entry]
Type=Application
Name=Gnome digger
Exec=browser file:///usr/share/diggerjs/gnome.html
Icon=other.png
Terminal=false
Categories=Game;
Comment=Gnome xdigger game
