[Desktop Entry]
Type=Application
Name=Gnome digger
Comment=Gnome xdigger game
Comment[ru]=Игра Gnome digger
Exec=browser file:///usr/share/diggerjs/gnome.html
Icon=other
Terminal=false
Categories=Game;
