/* CSS style for SliTaz Network (minimal version) */

html { min-height: 102%; }
body { font: 88% sans-serif, vernada, arial; margin: 0; }
h1 { margin: 0; padding: 8px; color: #fff; font-size: 20px; }
h1 a { color: #fff; text-decoration: none; }
h2 { color: #444; } h3 { color: #666; font-size: 140%; }
a { text-decoration: underline; color: #215090; }
a:hover { text-decoration: none; }
img { border: 0pt none; vertical-align: middle; }
pre {
	overflow: auto;
	font-size: 98%;
}

/* Header */

#header {
	background: #222;
	height: 40px;
	border-bottom: 4px solid #afafaf;
}

#header h1 {
	margin: 0;
	padding: 8px 0 0 4px;
	width: 250px;
}

#header h1 a { 
	color: white; 
	text-decoration: none;
	font-size: 20px;
	font-style: italic;
}

#header h1 a:hover { 
	color: #afafaf;
}

/* Header links */

#network { 
	float: right; 
	padding: 14px 5px 0; 
	font-size: 12px;
}

#network a, #network span {
	padding: 0 4px;
	color: #fff; 
	font-weight: bold;
	text-decoration: none;
}

#network a:hover, #network span { color: #afafaf; }

/* Logo */

#logo {
	background: url(images/logo.png) no-repeat left;
	position: absolute;
	float: left;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

/* Search */

#search {
	position: absolute;
	right: 20px;
	top: 60px;
}

#search input[type="text"] {
	width: 200px;
	
	padding: 4px;
	margin: 4px 0px;
	font-size: 14px;
	line-height: 1.2em;
	background: #fefefe;
	border: 2px solid #afafaf;
	-webkit-appearance: none;
	-webkit-padding-end: 12px;
	-webkit-padding-start: 6px;
}

/* Content */

#content {
	margin: 40px auto;
	padding: 0 20px;
	text-align: justify;
	max-width: 720px;
}

.box {
	padding: 6px;
	margin: 4px 0px;
}

pre, .box {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

pre {
	padding: 10px;
}

pre img { margin: 4px 4px 4px 0px; }

.error { color: red; }
.ok { color: green; }
.date { color: #666; font-size: 96%; }

/* Round corner */

pre, img, .box, input[type="text"] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Footer */

#footer {
	text-align: center;
	padding: 20px;
	border-top: 1px solid #ddd;
	font-size: 90%;
}

#footer a { padding: 0 2px; }
