[Desktop Entry]
Version=1.0
Type=Application
Name=Midori Private Browsing
Name[cs]=Midori - soukromé prohlížení
Name[da]=Midori Privat browsing
Name[fr]=Midori Navigation privée
Name[gl]=Midori, navegación privada
Name[he]=גלישה פרטית
Name[ko]=미도리 개인 정보 보호 모드
Name[nl]=Midori Privé-surfen
Name[pl]=Tryb prywatny przeglądarki Midori
Name[pt_BR]=Midori Navegação privada
Name[zh_CN]=Midori 浏览器隐私浏览方式
Name[zh_TW]=Midori 私密瀏覽
Categories=GTK;Network;WebBrowser;
Exec=midori --private %U
Icon=midori
Terminal=false
StartupNotify=true
