[Desktop Entry]
Version=1.0
Type=Application
Name=Midori Web Browser
Name[de]=Netznavigator Midori
Name[fr]=Navigateur Web Midori
Name[pt_PT]=Navegador Web Midori
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;
Exec=midori %u
Icon=midori
Terminal=false
StartupNotify=true
