[Desktop Entry]
Encoding=UTF-8
Name=Desktop Wallpaper
Name[fr]=Fond d'écran
Name[zh_CN]=桌面壁纸
Exec=pcmanfm --show-pref=3
Icon=/usr/share/icons/SliTaz/16x16/apps/preferences-desktop-wallpaper.png
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
