[Desktop Entry]
Encoding=UTF-8
Name=Desktop Wallpaper
Name[fr]=Fond d'écran
Name[zh_CN]=桌面壁纸
Exec=pcmanfm --show-pref=3
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
