[Desktop Entry]
Encoding=UTF-8
Name=Shutterbug screenshot
Name[fr]=Capture d'écran Shutterbug
Exec=shutterbug
Icon=shutterbug
Type=Application
Categories=Application;Graphics;
