[Desktop Entry]
Encoding=UTF-8
Name=Magnifying Glass
Name[fr]=Loupe
Comment=Screen Magnifier
Exec=vmg
Icon=icon3.png
Type=Application
Categories=Utility;
