[Desktop Entry]
Encoding=UTF-8
Name=Magnifying Glass
Name[fr]=Loupe
Name[pt]=Lupa
Name[pt_BR]=Lupa
Comment=Screen Magnifier
Exec=vmg
Icon=icon3
Type=Application
Categories=Utility;
