[Desktop Entry]
Name=Scientific Calculator
Name[fr]=Calculatrice scientifique
Comment=Perform simple and scientific calculations
Comment[de]=Ausführen von einfachen und wissenschaftlichen Berechnungen
Comment[ja]=単純な科学計算を実行します
Comment[pl]=Wykonaj proste lub naukowe obliczenia
Comment[pt_BR]=Executa cálculos simples e científicos
Comment[sk]=Kalkulačka na jednoduché i vedecké výpočty
Exec=galculator
Icon=galculator.png
Terminal=false
Type=Application
Categories=Application;Utility;
StartupNotify=true
Encoding=UTF-8
