[Desktop Entry]
Encoding=UTF-8
Name=Xfi Images viewer
Name[fr]=Visionneur d'images Xfi
Name[pt]=Visualizador de imagens Xfi
Name[pt_BR]=Visualizador de imagens Xfi
Exec=xfi %f
Icon=xfi
Type=Application
Categories=Application;Graphics;
