[Desktop Entry]
Encoding=UTF-8
Name=Xfi Images viewer
Name[fr]=Visionneur d'images Xfi
Exec=xfi %f
Icon=xfi.png
Type=Application
Categories=Application;Graphics;
