[Desktop Entry]
Name=GNU Backgammon
GenericName=Backgammon
Comment=GTK or console backgammon program with analysis
Exec=gnubg -w
Terminal=false
Icon=gnubg
Type=Application
Categories=Game;BoardGame;GTK;
Keywords=analysis;tutor;
