[Desktop Entry]
Type=Application
Name=Grab screenshot
Name[fr]=Capture d'écran
Name[pt]=Captura de Screenshots
Name[pt_BR]=Captura de Screenshots
Name[ru]=Снимок экрана
Exec=mtpaint -s
Icon=applets-screenshooter
Categories=Utility;
