[Desktop Entry]

Name=Aqualung Audio Player
Name[fr]=Lecteur audio Aqualung
Name[pt]=Aqualung Reprodutor de Áudio
Name[zh_CN]=Aqualung 音频播放器
Exec=aqualung
Icon=aqualung
Type=Application
MimeType=audio/x-scpls;audio/x-mpegurl;audio/mpegurl;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/x-wav;audio/ogg+vorbis;audio/ogg;application/flac;
Categories=AudioVideo;Audio;Player;
