[Desktop Entry]
Type=Application
Name=Aqualung Audio Player
Name[fr]=Lecteur audio Aqualung
Name[pt]=Reprodutor de Áudio Aqualung
Name[pt_BR]=Reprodutor de Áudio Aqualung
Name[ru]=Аудио проигрыватель Aqualung
Name[zh_CN]=Aqualung 音频播放器
GenericName=Music Player
GenericName[de]=Musik-Wiedergabe
GenericName[ru]=Музыкальный проигрыватель
Exec=aqualung
Icon=aqualung
Categories=AudioVideo;Audio;Player;
MimeType=audio/x-scpls;audio/x-mpegurl;audio/mpegurl;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/x-wav;audio/ogg+vorbis;audio/ogg;application/flac;
