[Desktop Entry]
Type=Application
Name=Midnight Commander (root)
Exec=subox terminal -e mc -S modarcon16root -a
Icon=computer
Comment=To enable all syntax-hilight features: switch vte(sakura) to "tango" palette, or use xterm-256color
Categories=FileTools;Development;
