[Desktop Entry]
Type=Application
Name=Midnight Commander (root)
Exec=subox terminal -e mc.sh -S modarin256root -a
Icon=utilities-terminal
Categories=FileTools;Development;
