[Desktop Entry]
Encoding=UTF-8
Name=Jabber client
Name[fr]=Client Jabber
Name[pt]=Cliente Jabber Coccinella
Name[pt_BR]=Cliente Jabber Coccinella
Exec=coccinella
Icon=/usr/share/coccinella/themes/Oxygen/icons/32x32/coccinella2.png
Terminal=false
Type=Application
Categories=Application;Network;
