[Desktop Entry]
Encoding=UTF-8
Name=Nagios
Comment=Network Monitoring
Comment[fr]=Supervision Réseaux
Icon=nagios
Exec=firefox http://localhost/nagios
Type=Application
Categories=System;Application;
