[Desktop Entry]
Encoding=UTF-8
Name=GAdmin-proftpd
Comment=ProFTPd server administration
Exec=subox /usr/sbin/gadmin-proftpd
Icon=gadmin-proftpd
Terminal=false
Type=Application
Categories=GTK;System;
