[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xscavenger
Exec=xscavenger
Terminal=false
Categories=Application;Game;
Comment=Lode Runner rewritten for X11
