[Desktop Entry]
Type=Application
Name=CbrPager
GenericName=Comic book viewer
GenericName[fr]=Visionneur de bandes dessinées
GenericName[sv]=Serieboksläsare
Comment=A viewer for comic book archives
Comment[es]=Un visor de comics
Comment[fr]=Visionneur d'images spécialisé dans la lecture des bandes dessinées
Comment[it]=Un visualizzatore di fumetti 
Comment[pl]=Przeglądarka komiksów
Comment[ru]=Просмотр комиксов
Comment[sv]=En serieboksläsare
Exec=cbrpager %f
Terminal=false
StartupNotify=true
Categories=Graphics;Viewer;
MimeType=application/x-cbz;application/x-cbr;application/x-cb7;
