[Desktop Entry]
Encoding=UTF-8
Name=GTK+ Theme and Font
Name[fr]=Thème et police GTK+
Icon=/usr/share/icons/Tango/jwm/preferences-desktop-theme.png
Exec=leafpad $HOME/.gtkrc-2.0
Type=Application
Categories=Settings;DesktopSettings;GTK;

