[Desktop Entry]
Encoding=UTF-8
Name=SHell profile
Name[fr]=Profile du SHell
Icon=/usr/share/icons/Tango/jwm/utilities-terminal.png
Exec=leafpad $HOME/.profile
Type=Application
Categories=Settings;DesktopSettings;GTK;
