[Desktop Entry]
Name=System Doc
Name[fr]=Doc du système
Name[pt]=Documentação do Sistema
Exec=browser /usr/share/doc
Icon=/usr/share/icons/SliTaz/16x16/mimetypes/text-x-generic.png
Type=Application
Categories=Documentation;
Encoding=UTF-8
