[Desktop Entry]
Name=System Doc
Name[fr]=Doc du système
GenericName=/usr/share/doc
Comment=Browse installed documentation
Comment[fr]=Naviguer dans la documentation installée
Exec=firefox /usr/share/doc
Icon=/usr/share/icons/Tango/jwm/text-x-generic.png
Type=Application
Categories=Documentation;
