[Desktop Entry]
Encoding=UTF-8
Name=GAdmin-sendmail
Comment=Mail server administration
Exec=subox /usr/sbin/gadmin-sendmail
Icon=gadmin-sendmail
Terminal=false
Type=Application
Categories=GTK;System;
