[Desktop Entry]
Encoding=UTF-8
Name=Dolibarr ERP/CRM
Name[fr]=Dolibarr PGI/GRC
Icon=dolibarr.png
Exec=browser http://localhost/dolibarr/
Type=Application
Categories=Office;
