[Desktop Entry]
Type=Application
Name=Cfdisk Partition Editor
Name[es]=Editor de particiones Cfdisk
Name[fi]=Cfdisk levyosioiden muokkain
Name[fr]=Editeur de partition Cfdisk
Name[hu]=Cfdisk partíciószerkesztő
Name[it]=Editor di partizioni Cfdisk
Name[pt]=Editor de Partições Cfdisk
Name[pt_BR]=Editor de Partições Cfdisk
Name[ru]=Редактор разделов Cfdisk
Name[zh_CN]=Cfdisk分区编辑工具
Exec=subox terminal -e cfdisk
Icon=disk-partition-manager
Terminal=false
Categories=System;Filesystem;
