[Desktop Entry]
Type=Application
Name=Desktop effects with Compton
Name[fr]=Effects de bureau avec Compton
Exec=compton --config /etc/xdg/compton/compton.conf
NotShowIn=LXDE;XFCE;Razor;
