[Desktop Entry]
Type=Application
Name=Desktop effects with Compton
Name[fr]=Effects de bureau avec Compton
Name[pt]=Efeitos do desktop com Compton
Name[pt_BR]=Efeitos do desktop com Compton
Exec=compton -Cc -i -r 10 -o 0.5
NotShowIn=LXDE;XFCE;Razor;
