[Desktop Entry]
Version=1.0
Exec=owncloud
Name=ownCloud desktop sync client 
Name[fr]=Client ownCloud 
GenericName=Folder Sync
GenericName[fr]=Synchronistionn de dossier
Icon=owncloud
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
X-Desktop-File-Install-Version=0.15
