[Desktop Entry]
Type=Application
Name=PCMan File Manager
Name[fr]=Gestionnaire de fichiers
Name[pt]=Gerenciador de Arquivos
Name[pt_BR]=Gerenciador de Arquivos
Name[ru]=Файловый менеджер PCManFM
Name[zh_CN]=PCMan 文件管理器
Name[zh_TW]=PCMan 檔案管理程式
Exec=pcmanfm %F
Icon=pcmanfm
StartupNotify=true
Terminal=false
MimeType=inode/directory;
Categories=GTK;Core;System;FileTools;FileManager;
