[Desktop Entry]
Type=Application
Name=eXtrema
Name[zh_CN]=极值分析工具
Comment=Visualization and Data Analysis Tool
Comment[ru]=Визуализация и анализ данных
Exec=extrema
Icon=extrema
Terminal=false
Categories=Science;Math;
