[Desktop Entry]
Type=Application
Name=Primate plunge
Comment=A simple and addictive GTK2 football manager
Exec=primateplunge
Terminal=false
Icon=primateplunge
Categories=Game;ArcadeGame;
