[Desktop Entry]
Type=Application
Name=Openbox Configuration Manager
Name[fr]=Configuration d'Openbox
Name[pt]=Configurações do Openbox
Name[pt_BR]=Configurações do Openbox
Name[ru]=Менеджер параметров Openbox
Name[zh_TW]=Openbox 組態管理器
Comment=Openbox configuration manager
Comment[fr]=Gestionnaire de préférences pour Openbox
Comment[zh_TW]=管理 Openbox 組態設定
StartupNotify=true
Exec=obconf %f
Icon=preferences-system-windows
Categories=GTK;Settings;DesktopSettings;
MimeType=application/x-openbox-theme;
