[Desktop Entry]
Type=Application
Name=Svkbd Virtual Keyboard (RU)
Name[ru]=Виртуальная клавиатура Svkbd (RU)
Icon=input-keyboard
Exec=svkbd-ru -d
Categories=Utility;
