[Desktop Entry]
Encoding=UTF-8
Name=Osmo Organizer
Name[fr]=Osmo Organisateur
Name[pt]=Organizador Pessoal Osmo
Name[pt_BR]=Organizador Pessoal Osmo
Exec=osmo
Icon=osmo
Type=Application
Categories=Office;
