[Desktop Entry]
Encoding=UTF-8
Name=Osmo Organizer
Name[fr]=Osmo Organisateur
Name[pt]=Osmo Organizador Pessoal
Exec=osmo
Icon=osmo
Type=Application
Categories=Office;
