[Desktop Entry]
Encoding=UTF-8
Name=Seamonkey Web Browser
Name[fr]=Navigateur Web Seamonkey
Comment=Browse the Internet
Exec=seamonkey
Icon=seamonkey.png
Type=Application
Categories=Application;Network;
