[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=xfce4-about
Icon=help-about
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
NoDisplay=true
Name=About Xfce
Name[ar]=حول Xfce
Name[be]=Пра Xfce
Name[ca]=Quant a Xfce
Name[cs]=O prostředí Xfce
Name[da]=Om Xfce
Name[de]=Über Xfce
Name[el]=Περί του Xfce
Name[en_GB]=About Xfce
Name[es]=Acerca de Xfce
Name[et]=Xfce4 info
Name[eu]=Xfce-ri buruz
Name[fi]=Tietoja Xfce:stä
Name[fr]=À propos de Xfce
Name[gl]=Acerca de Xfce
Name[he]=אודות Xfce
Name[hu]=Xfce Névjegy
Name[id]=Tentang Xfce
Name[it]=Informazioni su Xfce
Name[ja]=Xfce について
Name[ko]=Xfce란
Name[lv]=Par Xfce
Name[nb]=Om Xfce
Name[nl]=Xfce Info
Name[pa]=Xfce ਬਾਰੇ
Name[pl]=O środowisku graficznym Xfce
Name[pt]=Sobre o Xfce
Name[pt_BR]=Sobre o Xfce
Name[ro]=Despre Xfce
Name[ru]=О Xfce
Name[sk]=O Xfce
Name[sq]=Rreth Xfce-së
Name[sv]=Om Xfce
Name[tr]=Xfce Hakkında
Name[uk]=Про Xfce
Name[ur]=ایکسفس کی بابت
Name[vi]=Giới thiệu Xfce
Name[zh_CN]=关于 Xfce
Name[zh_TW]=關於 Xfce
Comment=Information about the Xfce Desktop Environment
Comment[ar]=معلومات حول بيئة سطح مكتب Xfce
Comment[be]=Зьвесткі пра Настольнае асяроддзе Xfce
Comment[ca]=Informació sobre l’entorn d’escriptori Xfce
Comment[cs]=Informace o pracovním prostředí Xfce
Comment[da]=Informationer om Xfce-skrivebordsmiljøet
Comment[de]=Informationen über die Arbeitsumgebung
Comment[el]=Πληροφορίες σχετικά με το περιβάλλον εργασίας Xfce
Comment[en_GB]=Information about the Xfce Desktop Environment
Comment[es]=Información sobre el entorno de escritorio Xfce
Comment[et]=Teavet Xfce Töölauakeskkonna kohta
Comment[eu]=Xfce idazmahai inguruneari buruzko argibideak
Comment[fi]=Tietoja Xfce-työpöytäympäristöstä
Comment[fr]=Information à propos de l'environnement de bureau Xfce
Comment[hu]=Adatok az Xfce Asztali környezetről
Comment[id]=Informasi tentang Lingkungan Destop Xfce
Comment[it]=Informazioni sull'ambiente desktop Xfce
Comment[ja]=Xfce デスクトップ環境についての情報
Comment[ko]=Xfce 데스크탑 환경에 대한 정보
Comment[lv]=Informācija par Xfce darbavirsmas vidi
Comment[nb]=Informasjon om Xfce Skrivebordshåndterer
Comment[nl]=Informatie over Xfce
Comment[pa]=Xfce ਡੈਸਕਟਾਪ ਇੰਵਾਇਰਨਮਿੰਟ ਬਾਰੇ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o środowisku graficznym Xfce
Comment[pt]=Informação sobre o Xfce Desktop Environment
Comment[pt_BR]=Informações sobre o Ambiente da Área de Trabalho do Xfce
Comment[ru]=Информация о рабочей среде Xfce
Comment[sq]=Të dhëna mbi Mjedisin Desktop Xfce
Comment[sv]=Information om skrivbordsmiljön Xfce
Comment[tr]=Xfce Masaüstü Ortamı hakkında bilgi
Comment[uk]=Інформація про середовище Робочого столу Xfce
Comment[ur]=ایکسفس ڈیسک ٹاپ ماحول کے بارے میں معلومات
Comment[zh_CN]=关于 Xfce 桌面环境的信息
