[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=exo-open --launch WebBrowser %u
Icon=web-browser
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
NoDisplay=true
Name=Web Browser
Name[ar]=مستعرض الوب
Name[az]=Veb Səyyahı
Name[be]=Гартач Сеціва
Name[ca]=Navegador
Name[cs]=Webový prohlížeč
Name[da]=Webbrowser
Name[de]=Webbrowser
Name[el]=Περιηγητής Ιστού
Name[en_GB]=Web Browser
Name[es]=Navegador web
Name[et]=Veebilehitseja
Name[eu]=Web nabigatzailea
Name[fi]=Web-selain
Name[fr]=Navigateur Internet
Name[gl]=Navegador web
Name[he]=דפדפן אינטרנט
Name[hu]=Webböngésző
Name[id]=Peramban Web
Name[it]=Web browser
Name[ja]=ウェブブラウザ
Name[ko]=웹 브라우져
Name[lv]=Tīmekļa pārlūks
Name[ms]=Pelayar Web
Name[nb]=Nettleser
Name[nl]=Web Browser
Name[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka internetowa
Name[pt]=Navegador Web
Name[pt_BR]=Navegador de internet
Name[ro]=Navigator Internet
Name[ru]=Веб-браузер
Name[sk]=Webový prehliadač
Name[sq]=Shfletues Web
Name[sv]=Webbläsare
Name[ta]=வலை மேலோடி
Name[tr]=İnternet Tarayıcısı
Name[uk]=Переглядач WEB
Name[ur]=ویب براؤزر
Name[vi]=Trình duyệt web
Name[zh_CN]=网络浏览器
Name[zh_TW]=網頁瀏覽器
Comment=Browse the web
Comment[ar]=استعرض الوب
Comment[be]=Гартач Сеціва
Comment[ca]=Navegador web
Comment[cs]=Procházet web
Comment[da]=Navigér internet
Comment[de]=Im Internet surfen
Comment[el]=Περιηγητής ιστοσελίδων
Comment[en_GB]=Browse the Web
Comment[es]=Navegue por la web
Comment[et]=Sirvi Veebi
Comment[eu]=Web-a nabigatu
Comment[fi]=Selaa web-sivuja
Comment[fr]=Naviguer sur Internet
Comment[gl]=Navegar pola web
Comment[hu]=Böngészd a webet
Comment[id]=Ramban web
Comment[it]=Navigazione web
Comment[ja]=ウェブを閲覧します
Comment[ko]=인터넷의 바다로
Comment[lv]=Pārlūkot tīmekli
Comment[nb]=Surf verdensveven
Comment[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pl]=Przeglądaj internet
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegar na internet
Comment[ru]=Веб-браузер
Comment[sq]=Eksploro web-in
Comment[sv]=Surfa på webben
Comment[tr]=İnternette gez
Comment[uk]=Перегляд WEB
Comment[ur]=ویب براؤز کریں
Comment[zh_CN]=浏览网页
