[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=exo-open --launch TerminalEmulator
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Terminal
NoDisplay=True
Name[ar]=طرفيّة
Name[az]=Terminal
Name[be]=Тэрмінал
Name[ca]=Terminal
Name[cs]=Terminál
Name[da]=Terminal
Name[de]=Terminal
Name[el]=Τερματικό
Name[en_GB]=Terminal
Name[es]=Terminal
Name[et]=Terminal
Name[eu]=Terminala
Name[fi]=Pääte
Name[fr]=Terminal
Name[gl]=Terminal
Name[he]=מסוף
Name[hu]=Terminál
Name[id]=Terminal
Name[it]=Terminale
Name[ja]=ターミナル
Name[ko]=터미널
Name[lv]=Terminālis
Name[ms]=Terminal
Name[nb]=Terminal
Name[nl]=Terminal
Name[pa]=ਟਰਮੀਨਲ
Name[pl]=Terminal
Name[pt]=Terminal
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=Терминал
Name[sk]=Terminál
Name[sq]=Terminal
Name[sv]=Terminal
Name[ta]=முனையம்
Name[tr]=Uçbirim
Name[uk]=Термінал
Name[ur]=ٹرمنل
Name[vi]=Trạm cuối
Name[zh_CN]=终端
Name[zh_TW]=終端機
Comment=Terminal emulator
Comment[ar]=محاكي الطرفية
Comment[be]=Эмулятар тэрмінала
Comment[ca]=Emulador de terminal
Comment[cs]=Emulátor terminálu
Comment[da]=Teminalemulator
Comment[de]=Terminalemulator
Comment[el]=Προσομοιωτής τερματικού
Comment[en_GB]=Terminal emulator
Comment[es]=Emulador de terminal
Comment[et]=Terminaliemulaator
Comment[eu]=Terminal emuladorea
Comment[fi]=Pääte-emulaattori
Comment[fr]=Émulateur de terminal
Comment[gl]=Emulador de terminal
Comment[hu]=Terminál emulátor
Comment[id]=Emulator terminal
Comment[it]=Emulatore di terminale
Comment[ja]=ターミナルエミュレータ
Comment[ko]=터미널 에뮬레이터
Comment[lv]=Termināla emulators
Comment[nb]=Terminalemulator
Comment[pa]=ਟਰਮੀਨਲ ਏਮੂਲੇਟਰ
Comment[pl]=Emulator terminala
Comment[pt]=Emulador de terminal
Comment[pt_BR]=Emulador do terminal
Comment[ru]=Эмулятор терминал
Comment[sq]=Emulues terminali
Comment[sv]=Terminalemulator
Comment[tr]=Uçbirim öykünücüsü
Comment[uk]=Емулятор терміналу
Comment[ur]=ٹرمنل ایمولیٹر
Comment[zh_CN]=终端模拟器
