[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=Thunar
Icon=system-file-manager
StartupNotify=true
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
NoDisplay=true
Name=File Manager
Name[ar]=مدير الملفات
Name[az]=Fayl İdarəçisi
Name[be]=Кіраўнік файлаў
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[en_GB]=File Manager
Name[es]=Administrador de archivos
Name[et]=Säilikuhaldur
Name[eu]=Fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gl]=Xestor de ficheiros
Name[he]=סייר קבצים
Name[hu]=Fájlkezelő
Name[id]=Manajer Berkas
Name[it]=Gestore dei file
Name[ja]=ファイルマネージャ
Name[ko]=화일 관리자
Name[lv]=Failu pārvaldnieks
Name[ms]=Pengurus Fail
Name[nb]=Filbehandler
Name[nl]=Bestandsmanager
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[pt]=Gestor de Ficheiros
Name[pt_BR]=Gerenciador de Arquivos
Name[ro]=Administrator de fişiere
Name[ru]=Файловый менеджер
Name[sk]=Správca súborov
Name[sq]=Përgjegjës Kartelash 
Name[sv]=Filhanterare
Name[ta]=கோப்பு மேலாளர்
Name[tr]=Dosya Yöneticisi (thunar)
Name[uk]=Менеджер файлів
Name[ur]=فائل منیجر
Name[vi]=Trình quản lí tập tin
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理程式
Comment=Thunar file manager
Comment[ar]=مدير ملفات ثونار
Comment[be]=Кіраўнік файлаў Thunar
Comment[ca]=Gestor de fitxers Thunar
Comment[cs]=Správce souborů Thunar
Comment[da]=Thunar-filhåndtering
Comment[de]=Dateimanager Thunar
Comment[el]=Διαχειριστής αρχείων Thunar
Comment[en_GB]=Thunar file manager
Comment[es]=Administrador de archivos Thunar
Comment[et]=Säilikuhaldur Thunar
Comment[eu]=Thunar fitxategi kudeatzailea
Comment[fi]=Thunar-tiedostonhallinta
Comment[fr]=Gestionnaire de fichiers Thunar
Comment[gl]=Xestor de ficheiros Thunar
Comment[hu]=Thunar fájlkezelő
Comment[id]=Manajer berkas Thunar
Comment[it]=Gestore dei file Thunar
Comment[ja]=Thuanr ファイルマネージャ
Comment[ko]=Thunar 화일관리자
Comment[lv]=Thunar failu pārvaldnieks
Comment[nb]=Thunar filutforsker
Comment[nl]=Thunar bestandsbeheer
Comment[pa]=ਥੰਨਰ ਫਾਇਲ ਮੈਨੇਜਰ
Comment[pl]=Menedżer plików Thunar
Comment[pt]=Gestor de ficheiros Thunar
Comment[pt_BR]=Gerenciador de arquivos Thunar
Comment[ru]=Файловый менеджер Thunar
Comment[sq]=Përgjegjësi i Kartelave Thunar
Comment[sv]=Filhanteraren Thunar
Comment[tr]=Thunar dosya yöneticisi
Comment[uk]=Файловий менеджер Thunar
Comment[ur]=تھنر فائل منیجر
Comment[zh_CN]=Thunar 文件管理器
