[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sokoban
Exec=syasokoban
Icon=/usr/share/syasokoban/data/sokoban/SYASokoban.png
Terminal=false
Categories=GTK;Application;Game;
