[Desktop Entry]
Encoding=UTF-8
Name=Qemulator Virtual Engines
Name[fr]=Machines virtuelle Qemulator
Icon=qemulator
Exec=qemulator
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Emulator;Utility
