[Desktop Entry]
Encoding=UTF-8
Name=Grace plotting tool
Name[fr]=Traceur de graphes Grace
Comment=Plot data in graphs
Comment[fr]=Représenter des données dans des graphes
Exec=xmgrace
Icon=xmgrace
Type=Application
Categories=Graphics;Science;DataVisualization;NumericalAnalysis;
