[Desktop Entry]
Encoding=UTF-8
Name=R
Comment= programming language for statistical computing
Exec=terminal -e R
Icon=R
Type=Application
Categories=Development;
