[Desktop Entry]
Type=Application
Name=Galaga:Hyperspace
Comment=Play enhanced Galaga Game
Exec=xgalaga-hyperspace
Icon=other
Terminal=false
Categories=Game;
