[Desktop Entry]
Encoding=UTF-8
Name=Simple Mail
Exec=firefox -chrome chrome://simplemail/content/main/main.xul
Icon=/usr/share/icons/Tango/16x16/apps/internet-mail.png
Type=Application
Categories=Network;
