[Desktop Entry]
Encoding=UTF-8
Name=Rhapsody IRC Client
Exec=xterm -e rhapsody
Icon=/usr/share/icons/Tango/jwm/internet-group-chat.png
Type=Application
Categories=Network;
