[Desktop Entry]
Encoding=UTF-8
Name=Rhapsody IRC Client
Name[pt]=Cliente IRC Rhapsody
Name[pt_BR]=Cliente IRC Rhapsody
Exec=xterm -e rhapsody
Icon=internet-group-chat
Type=Application
Categories=Network;
