[Desktop Entry]
Type=Application
Name=Cookutils Documentation
Name[fr]=Documentation de CookUtils
Name[ru]=Документация CookUtils
Exec=browser file:///usr/share/doc/cookutils/cookutils.html
Icon=slitaz-doc
Categories=Documentation;
