[Desktop Entry]
Type=Application
Name=Take Screenshot
Name[fr]=Capture d'écran
Name[pt]=Captura de Screenshots
Name[pt_BR]=Captura de Screenshots
Name[ru]=Снимок экрана
Exec=gtk-screenshot -i
Terminal=false
Icon=/usr/share/gtk-screenshot/gtk-screenshot.png
Categories=Utility;
