[Desktop Entry]
Type=Application
Name=NanoChess
Name[fr]=Echecs
Name[zh_CN]=国际象棋
Comment=Chess game
Comment[fr]=Jeu d'échecs
Exec=sh -c "url=file:///var/www/chess/index.html ; tazweb --notoolbar \$url || browser \$url"
Icon=gnome-glchess
Terminal=false
Categories=Game;BoardGame;
