[Desktop Entry]
Type=Application
Name=Lines
Comment=Play the Lines
Exec=yad --html --uri=file:///usr/games/lines.html --width=600 --height=600 --no-buttons --title=Lines --window-icon=lines --center
Icon=lines
Categories=Game;
