[Desktop Entry]
Type=Menu
ItemsList=gvfs-info;show-ca-parameters;

Icon=applications-development
Name=SliTaz Development Actions
Name[ru]=Разработка SliTaz
Tooltip=SliTaz Development Actions
Tooltip[ru]=Разработка SliTaz
