[Desktop Entry]
Type=Action
Name=Mount the archive
Name[ru]=Подключить архив
Icon=package-x-generic
Profiles=on_archive;

[X-Action-Profile on_archive]
# if gvfs-archive installed
TryExec=/usr/lib/gvfs/gvfsd-archive
# for specified types of archive
MimeTypes=application/zip;application/gzip;application/x-cd-image;application/x-compressed-tar;application/x-bzip-compressed-tar;application/vnd.android.package-archive;application/x-xpinstall;application/x-raw-disk-image;application/x-rar;application/x-cpio;application/x-7z-compressed;application/x-tazpkg;application/x-ms-dos-executable;
Exec=gvfs-mount-archive.sh '%u'
