[Desktop Entry]
Type=Action
Name=Edit as Root
Name[ru]=Править от имени Root
Icon=dialog-password
Profiles=file_root_edit;

[X-Action-Profile file_root_edit]
# don't show for root
ShowIfTrue=test $(whoami) != root
# for any type of text
MimeTypes=text/*;
Exec=tazbox su "editor %f"
