[Desktop Entry]
Type=Action
Name=Edit as Root
Name[ru]=Править от имени Root
Icon=dialog-password
Profiles=file_root_edit;

[X-Action-Profile file_root_edit]
Exec=subox "editor %f"
MimeTypes=text/*;
