[Desktop Entry]
Type=Action
Name=Open Folder As Root
Name[ru]=Открыть папку от имени Root
Icon=dialog-password
Profiles=root_on_folder;

[X-Action-Profile root_on_folder]
ShowIfTrue=test $(whoami) != root
Exec=tazbox su "pcmanfm %u"
MimeTypes=inode/directory;
