[Desktop Entry]
Type=Action
Name=Run Slideshow
Name[ru]=Запустить слайдшоу
Icon=image-x-generic
Profiles=viewnior_on_folder;viewnior_on_images;gpicview_on_folder;gpicview_on_images;

[X-Action-Profile viewnior_on_folder]
# if viewnior installed
TryExec=viewnior
# for folders only
MimeTypes=inode/directory;
# if folder contains *.png, *.jpg, *.jpeg, *.gif or *.svg
ShowIfTrue=test -n "$(find %f -maxdepth 1 -iname '*.png' -o -iname '*.jpg' -o -iname '*.jpeg' -iname '*.gif' -o -iname '*.svg')"
Exec=viewnior --fullscreen --slideshow %f

[X-Action-Profile viewnior_on_images]
# if viewnior installed
TryExec=viewnior
# for any type of images
MimeTypes=image/*;
# if few images selected
SelectionCount=>1
Exec=viewnior --fullscreen --slideshow %F

[X-Action-Profile gpicview_on_folder]
# if gpicview installed
TryExec=gpicview
# for folders only
MimeTypes=inode/directory;
# if folder contains *.png, *.jpg, *.jpeg, *.gif or *.svg
ShowIfTrue=test -n "$(find %f -maxdepth 1 -iname '*.png' -o -iname '*.jpg' -o -iname '*.jpeg' -iname '*.gif' -o -iname '*.svg')"
Exec=gpicview --slideshow %f

[X-Action-Profile gpicview_on_images]
# if gpicview installed
TryExec=gpicview
# for any type of images
MimeTypes=image/*;
# if few images selected
SelectionCount=>1
#Bug: gpicview shows other images after selected
Exec=gpicview --slideshow %F
