[Desktop Entry]
Type=Action
Name=Download SliTaz package
Icon=tazpkg
Profiles=tazpkg;

[X-Action-Profile tazpkg]
MimeTypes=inode/directory;
Exec=sh -c "i=$(yad --entry --completion $(cat /var/lib/tazpkg/packages.info | awk '{print $1}') --title='tazpkg get ...' --window-icon=tazpkg --center --width=400); [ $i ] && (cd %f ; terminal -geometry 80x2-0-32 -e tazpkg get $i)"
