[Desktop Entry]
Type=Action
Name=Set as wallpaper
Name[ru]=Сделать фоном рабочего стола
Icon=preferences-desktop-wallpaper
Profiles=image_wallpaper;

[X-Action-Profile image_wallpaper]
MimeTypes=image/*;
Exec=pcmanfm -w %f
SelectionCount==1
