[Desktop Entry]
Type=Action
Name=Set as wallpaper
Name[ru]=Сделать фоном рабочего стола
Icon=preferences-desktop-wallpaper
Profiles=image_wallpaper;

[X-Action-Profile image_wallpaper]
# for any images
MimeTypes=image/*;
# for one (selected) image
SelectionCount==1
# best mode is "crop" - keep aspect ratio when maximized
Exec=pcmanfm -w %f --wallpaper-mode=crop
