[Desktop Entry]
Encoding=UTF-8
Name=Samba network
Name[fr]=Réseau Samba
Name[pt]=Rede Samba
Name[pt_BR]=Rede Samba
Icon=network-idle
Exec=browser http://127.0.0.1/smbwebclient/
Type=Application
Categories=Network;Application;
