[Desktop Entry]
Encoding=UTF-8
Name=Nitrogen
Comment=Background browser and setter
Exec=nitrogen
Icon=nitrogen
Type=Application
Categories=Settings;DesktopSettings
