[Desktop Entry]
Type=Application
Name=SliTaz ARM Codex
Exec=browser file:///usr/share/doc/slitaz-arm/codex/index.html
Icon=slitaz-doc
Categories=Documentation;
