[Desktop Entry]
Encoding=UTF-8
Name=GParted
GenericName=Partition Editor
GenericName[fr]=Éditeur de partition
Comment=GNOME Partition Editor
Comment[es]=Editor de particiones de GNOME
Comment[eu]=GNOMEren partizio-editorea
Comment[fi]=Gnomen levyosioiden muokkain
Comment[fr]=Éditeur de partition de Gnome
Comment[gl]=Editor de particións de Gnome
Comment[he]=עורך המחיצות של GNOME
Comment[hu]=GNOME partíciószerkesztő
Comment[it]=Editor di partizioni per GNOME
Exec=subox gparted
Icon=gparted.png
Terminal=false
Type=Application
Categories=GNOME;Application;System;
