[Desktop Entry]
Encoding=UTF-8
Name=GParted Partition Editor
Name[es]=Editor de particiones GParted
Name[fi]=GParted levyosioiden muokkain
Name[fr]=Éditeur de partition GParted
Name[hu]=GParted partíciószerkesztő
Name[it]=Editor di partizioni GParted
Exec=subox gparted
Icon=gparted.png
Terminal=false
Type=Application
Categories=GNOME;Application;System;
