html {
	min-height:  102%;
}

body {
	background: #ffffff;
	color: black;
	font: 13px sans-serif, vernada, arial;
	margin: 0;
	border-top: 34px solid #f1f1f1;
}

/* Accessibility */

#access {
	position: absolute;
	top: 4px;
	right: 0px;
	text-align: right;
	width: auto;
	margin: 0;
	padding: 4px 4px 4px 20px;
	font-size: 11px;
	font-weight: bold;
}

#access a {
	background: transparent;
	color: #0F314E;
	text-decoration: none;
}

#access a:hover {
	background: inherit;
	color: #b64b22;
}

#access img {
	vertical-align: middle;
}

/* Header and title */

#header {
	background: #351a0a url(header-img.png) no-repeat top right;
	color: black;
	width: 100%;
	height: 42px;
	border-top: 1px solid black;
	border-bottom: 1px solid #999;
	margin-bottom: 33px;
}

#titre {
	position: absolute;
	font-size: 14px;
	font-weight: bolder ;
	left: 180px;
	top: 4px;
}

#logo {
	position: absolute;
	float: left;
	left: 16px;
	top: -10px;
	width: 200px;
	height: 74px;
}

/* Side bar Navigation */

#nav {
	position: absolute;
	top: 102px;
	right: 80px;
	color: #555555;
	float: right;
	width: 250px;
	line-height: 1.5em;
	text-align: left;
	font-size: 12px;
}

#nav .nav_box ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 24px 10px 0px;
	background-color: inherit;
}

#nav li {
	display: inline;
}

#nav h4 {
	font-size: 120%;
	color: #666666;
	font-weight: bold;
	margin: 0;
	padding: 0 0 1px 0;
	border-bottom: 1px solid #cecece;
}

#nav a {
	color: #0F314E;
	background: inherit;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

#nav a:hover {
	color: #b64b22;
	text-decoration: none;
	display: block;
}

#nav ul {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	list-style-type: none;
	margin: 10px 0;
	padding: 10px 24px 10px 24px;
	background-color: #eaeaea;
}

.nav_box {
	margin: 10px 0;
	padding: 10px 24px 10px 24px;
	background-color: #eaeaea;
	text-align: justify;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 3px #666;
	-webkit-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	/* CSS3 transition */
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 2s;
	-moz-transition-property: background-color;
	-moz-transition-duration: 2s;
	transition-property: background-color;
	transition-duration: 2s;
}

.nav_box:hover { background-color: #f8f8f8; }

#nav .nav_box p {
	line-height: 1.3em;
}

#nav .nav_box p a {
	display: inline;
	font-weight: normal;
	text-decoration: underline;
}

#nav .nav_box p a:hover {
	text-decoration: none;
	color: blue;
	background: inherit;
}

/* Page content */

#content {
	background: white;
	color: black;
	text-align: justify;
	height: auto;
	margin: 6px 320px 0px 0px;
	padding: 0px 40px 60px 80px;
}

#content-full {
	background: white;
	color: black;
	text-align: justify;
	height: auto;
	margin: 0;
	padding: 0px 80px 40px 80px;
}

#content li, #content-full li {
	line-height: 1.5em;
	text-align: left;
}

#news li {
	list-style-type: square;
	border-bottom: 1px dotted #BEBEBE;
	margin-left: -25px;
	padding: 4px 0px 4px 0px;
}

#news a {
	text-decoration: none;
}

#gallery {
	text-align: center;
}

/* Box and block. */

.infobox {
	margin: 20px 60px;
	padding: 12px;
	background: #f8f8f8;
}

.infobox img { vertical-align: middle; }
/* .infobox:hover { background-color: #f2b21d; } */
.infobox:hover { background-color: #FBFBFB; }

.block {
	/*padding-bottom: 35%;*/
	color: black;
	min-height: 200px;
	margin-bottom: 40px;
}

.block ul {
	list-style-type: none;
	margin: 0;
	padding: 0 20px;
}

.block_left {
	width: 46%;
	float: left;
	background-color: #eaeaea;
	margin: 4px 2px;
	padding: 0 10px 10px 10px;
}

.block_right {
	width: 46%;
	float: right;
	background-color: #eaeaea;
	margin: 4px 2px;
	padding: 0 10px 10px 10px;
}

#block_top {
	color: black;
	background-color: #eaeaea;
	min-height: 180px;
	margin-bottom: 40px;
	margin-right: 340px;
	padding: 0 10px;
}

#block_nav {
	width: 300px;
	min-height: 180px;
	float: right;
	background-color: #eaeaea;
	margin: 0;
	padding: 0 10px;
}

.infobox, .block_left, .block_right, #block_top, #block_nav, #footer {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 3px #666;
	-webkit-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	/* CSS3 transition */
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 2s;
	-moz-transition-property: background-color;
	-moz-transition-duration: 2s;
	transition-property: background-color;
	transition-duration: 2s;
}

#block_nav {
	font-weight: bold;
}

#block_nav a {
	text-decoration: none;
}

#block_nav li a:hover {
	color: #b64b22;
}

#block_nav ul {
	margin: 0;
	list-style-type: none;
}

#block_nav h3 {
	font-size: 110%;
}

.block_left:hover, .block_right:hover, #block_top:hover,
#block_nav:hover, #footer:hover { 
	background-color: #f8f8f8;
}

.right_box {
	width: 50%;
	float: right;
}

.floor {
	color: #999999;
	font-size: 20px;
	-webkit-transform: rotate(-45deg) skew(15deg, 15deg);
	-moz-transform: rotate(-45deg) skew(15deg, 15deg);
	-o-transform: rotate(-45deg) skew(15deg, 15deg);
	-ms-transform: rotate(-45deg) skew(15deg, 15deg);
	transform: rotate(-45deg) skew(15deg, 15deg);
}
	
/* Button */

.button { margin-left: 20px; }

.button a { 
	background-color: #b64b22;
	color: #ffffff;
	margin-right: 6px;
	padding: 6px 10px;
	font-size: 14px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 3px #666;
	-webkit-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
}

.button a:hover, input[type=submit]:hover { 
	background-color: #a3431f;
	color: #ffffff;
}

input[type=submit] {
	border: 1px solid #b64b22;
	background-color: #b64b22;
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 2px 10px;
	font-size: 14px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px#666;
	box-shadow: 0 0 5px #666;
}

input[type=text] {
	border: 1px solid #333333;
	padding: 3px;
	width: 100%;
	max-width: 500px;
}

/* Clouds */

#cloud {
	padding: 10px 0px;
	line-height: 3em;
	text-align: center;
}
#cloud a { padding: 0 2px; color: #956411; }
#cloud a.tag1 { font-size: 0.7em; font-weight: 100; }
#cloud a.tag2 { font-size: 0.8em; font-weight: 200; }
#cloud a.tag3 { font-size: 0.9em; font-weight: 300; }
#cloud a.tag4 { font-size: 1.0em; font-weight: 400; }
#cloud a.tag5 { font-size: 1.2em; font-weight: 500; }
#cloud a.tag6 { font-size: 1.4em; font-weight: 600; }
#cloud a.tag7 { font-size: 1.6em; font-weight: 700; }
#cloud a.tag8 { font-size: 1.8em; font-weight: 800; }
#cloud a.tag9 { font-size: 2.2em; font-weight: 900; }
#cloud a.tag10 { font-size: 2.5em; font-weight: 900; }

/* Slideshow. */

#slideshow
{
	overflow: hidden;
	margin: 10px auto 10px;
	position: relative;
	width: 260px;
	height: 163px;
}

#slideshow img
{
	border: 0;
	width: 260px;
	height: 163px;
}

#twitter {
	margin-top: 20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 3px #666;
	-webkit-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
}

/* HTML styles */

h1 {
	color: #444444;
	background: transparent;
	text-align: left;
	margin: 0px 0px 4px 0px;
	font-size: 150%;
	font-weight: bold;
	padding: 5px 0 0 10px;
}

h2 {
	color: #b64b22;
	padding: 0;
	margin: 20px 0 0 0;
	font-size: 130%;
	font-weight: bold;
}

h3 {
	font-weight: bold;
	color: #666666;
	background: transparent;
}
	
h3 img { 
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding-right: 4px; 
}

a {
	text-decoration: underline;
	color: #103A5E;
	background: inherit;
}

a:hover {
	text-decoration: none;
	color: blue;
	background: inherit;
}

code {
	font-size: 12px;
	color: #669900;
	background: inherit;
}

tt {
	color: #15EE15;
	background: inherit;
}

img {
	border: 0pt none;
}

fieldset {
	background: #E2ECf6;
	color: black;
	margin-top: 25px;
	border: 1px solid black;
}

legend {
	border: 1px solid black;
	color: #6c0023;
	background: #eaeaea;
	font-weight: bold;
}

pre {
	padding: 5px;
	color: black;
	background: #E1E0B0;
}

pre.script {
	padding: 10px;
	color: black;
	background: #E8E8E8;
	border: 1px inset #606060;
}

textarea {
	background: #E5E5E5;
	margin-top: 12px;
}

/* Packages pages */

.pkg_nav {
	border-top: 1px solid black;
	margin-top: 10px;
	padding-top: 10px;
}

pre.package {
	padding: 0px;
	color: black;
	background: white;
}

p.get {
	text-align: center;
	padding: 10px;
	color: black;
	background: #F3F3F3;
	border: 1px solid #DEDEDE;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

p.get a {
	font-weight: bold;
	text-decoration: none;
}

.pkgs-search { 
	text-align: center; 
	padding: 40px 20px 80px 20px;
}

.year:after {
	/* content: "2007-2011"; */
	content: "2011";
}

/* Footer */

#footer {
	margin: 0px 80px 80px 80px;
	padding: 10px;
	background: #eaeaea;
	color: #666666;
	height: 180px;
	clear: both;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 1px 3px #666;
	-webkit-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
}
#footer a {
	background: inherit;
	color: #666666;
}
#footer a:hover {
	background: inherit;
	color: #333333;
}
#footer ul {
	list-style-type: none;
}
#footer li {
	padding: 2px;
}
#footer h4 {
	margin: 0 20px;
	font-size: 125%;
}

.container {
  margin: 6px 280px 0px 0px;
  padding: 0px 40px 60px 40px;
}

.main {
  background: white;
}

#.main {
  width: 100%;
}

.overflow {
  width: 100%;
  overflow: auto;
}

.search {
  text-align: center;
}

form.search div#hint {
  display: none;
  position: absolute;
  top: 0px;
  right: 280px;
  width: 200px;
  padding: 5px;
  background: #ffc;
  font-size: 80%;
  border: 1px solid yellow;
  -moz-border-radius: 5px; /* this works only in camino/firefox */
  -webkit-border-radius: 5px; /* this is just for Safari */
}

form.search:hover div#hint { display: block; }

a { text-decoration:none; }
.age { white-space:nowrap; }
.date { white-space:nowrap; }
.indexlinks { white-space:nowrap; }
.parity0 { background-color: #f0f0f0; }
.parity1 { background-color: white; }
.plusline { color: green; }
.minusline { color: #dc143c; } /* crimson */
.atline { color: purple; }

.navigate {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}

.tag {
  color: #999;
  font-size: 70%;
  font-weight: normal;
  margin-left: .5em;
  vertical-align: baseline;
}

.branchhead {
  color: #000;
  font-size: 80%;
  font-weight: normal;
  margin-left: .5em;
  vertical-align: baseline;
}

ul#graphnodes .branchhead {
  font-size: 75%;
}

.branchname {
  color: #000;
  font-size: 60%;
  font-weight: normal;
  margin-left: .5em;
  vertical-align: baseline;
}

h3 .branchname {
  font-size: 80%;
}

/* Common */
pre { margin: 0; }

h2 a { color: #b64b22; }

/* log and tags tables */
.bigtable {
  border-bottom: 1px solid #999;
  border-collapse: collapse;
  font-size: 90%;
  width: 100%;
  font-weight: normal;
  text-align: left;
}

.bigtable td {
  vertical-align: top;
}

.bigtable th {
  padding: 1px 4px;
  border-bottom: 1px solid #999;
}
.bigtable tr { border: none; }
.bigtable .age { width: 6em; }
.bigtable .author { width: 12em; }
.bigtable .description { }
.bigtable .node { width: 5em; font-family: monospace;}
.bigtable .permissions { width: 8em; text-align: left;}
.bigtable .size { width: 5em; text-align: right; }
.bigtable .annotate { text-align: right; }
.bigtable td.annotate { font-size: smaller; }
.bigtable td.source { font-size: inherit; }

.source, .sourcefirst, .sourcelast {
  font-family: monospace;
  white-space: pre;
  padding: 1px 4px;
  font-size: 90%;
}
.sourcefirst { border-bottom: 1px solid #999; font-weight: bold; }
.sourcelast { border-top: 1px solid #999; }
.source a { color: #999; font-size: smaller; font-family: monospace;}
.bottomline { border-bottom: 1px solid #999; }

.fileline { font-family: monospace; }
.fileline img { border: 0; }

.tagEntry .closed { color: #99f; }

/* Changeset entry */
#changesetEntry {
  border-collapse: collapse;
  font-size: 90%;
  width: 100%;
  margin-bottom: 1em;
}

#changesetEntry th {
  padding: 1px 4px;
  width: 4em;
  text-align: right;
  font-weight: normal;
  color: #999;
  margin-right: .5em;
  vertical-align: top;
}

div.description {
  border-left: 2px solid #999;
  margin: 1em 0 1em 0;
  padding: .3em;
}

/* Graph */
div#wrapper {
	position: relative;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0;
	padding: 0;
}

canvas {
	position: absolute;
	z-index: 5;
	top: -0.7em;
	margin: 0;
}

ul#graphnodes {
	position: absolute;
	z-index: 10;
	top: -1.0em;
	list-style: none inside none;
	padding: 0;
}

ul#nodebgs {
	list-style: none inside none;
	padding: 0;
	margin: 0;
	top: -0.7em;
}

ul#graphnodes li, ul#nodebgs li {
	height: 39px;
}

ul#graphnodes li .info {
	display: block;
	font-size: 70%;
	position: relative;
	top: -3px;
}
