html {
	height:  102%;
}

body {
	background: #ffffff;
	color: black;
	font: 13px sans-serif, vernada, arial;
	margin: 0;
}

/* Header and title */

#header{
	background: #f0ba08 url(header.png) repeat-x top;
	color: black;
	width: 100%;
	height: 50px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}

#titre {
	position: absolute;
	font-size: 16px;
	font-weight: bolder ;
	margin-left: 200px;
	margin-top: 28px;
}

#logo {
	position: absolute;
	float: left;
	margin-left: 16px;
	margin-top: 0px;
}

/* Navigation */

#nav {
	position: absolute;
	top: 76px;
	right: 40px;
	color: #555555;
	float: right;
	width: 250px;
	line-height: 1.5em;
	text-align: left;
	font-size: 12px;
}

#nav ul {
	list-style-type: none;
	margin: 10px 0;
}

#nav .nav_box ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 24px 10px 0px;
}

#nav li {
	display: inline;
}

#nav h4 {
	font-size: 110%;
	color: #666666;
	font-weight: bold;
	margin: 0;
	padding: 0 0 1px 0;
	border-bottom: 1px solid #cecece;
}

#nav a {
	color: #0F314E;
	background: inherit;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

#nav a:hover {
	color: #DF8F06;
	text-decoration: none;
	display: block;
}

.nav_box {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 10px 0;
	padding: 10px 24px 10px 24px;
	background-color: #eaeaea;
	text-align: justify;
}

#nav .nav_box p {
	line-height: 1.3em;
}

#nav .nav_box p a {
	display: inline;
	font-weight: normal;
	text-decoration: underline;
}

#nav .nav_box p a:hover {
	text-decoration: none;
	color: blue;
	background: inherit;
}

#footer {
	float: none;
	background: inherit;
	color: black;
	width: auto;
	clear: both;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

a {
	text-decoration: underline;
	color: #0F314E;
	background: inherit;
}

a:hover {
	text-decoration: none;
	color: blue;
	background: inherit;
}

h3 {
	font-weight: bold;
	color: #6c0023;
	background: inherit;
}

.container {
  margin: 6px 280px 0px 0px;
  padding: 0px 40px 60px 40px;
}

.main {
  background: white;
}

#.main {
  width: 100%;
}

.overflow {
  width: 100%;
  overflow: auto;
}

.search {
  text-align: center;
}

form.search div#hint {
  display: none;
  position: absolute;
  top: 0px;
  right: 280px;
  width: 200px;
  padding: 5px;
  background: #ffc;
  font-size: 80%;
  border: 1px solid yellow;
  -moz-border-radius: 5px; /* this works only in camino/firefox */
  -webkit-border-radius: 5px; /* this is just for Safari */
}

form.search:hover div#hint { display: block; }

a { text-decoration:none; }
.age { white-space:nowrap; }
.date { white-space:nowrap; }
.indexlinks { white-space:nowrap; }
.parity0 { background-color: #f0f0f0; }
.parity1 { background-color: white; }
.plusline { color: green; }
.minusline { color: #dc143c; } /* crimson */
.atline { color: purple; }

.navigate {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}

.tag {
  color: #999;
  font-size: 70%;
  font-weight: normal;
  margin-left: .5em;
  vertical-align: baseline;
}

.branchhead {
  color: #000;
  font-size: 80%;
  font-weight: normal;
  margin-left: .5em;
  vertical-align: baseline;
}

ul#graphnodes .branchhead {
  font-size: 75%;
}

.branchname {
  color: #000;
  font-size: 60%;
  font-weight: normal;
  margin-left: .5em;
  vertical-align: baseline;
}

h3 .branchname {
  font-size: 80%;
}

/* Common */
pre { margin: 0; }

h2 { font-size: 140%; color: black; }
h2 a { color: #000; }
h3 {
  margin-top: -.7em;
  font-size: 100%;
}

/* log and tags tables */
.bigtable {
  border-bottom: 1px solid #999;
  border-collapse: collapse;
  font-size: 90%;
  width: 100%;
  font-weight: normal;
  text-align: left;
}

.bigtable td {
  vertical-align: top;
}

.bigtable th {
  padding: 1px 4px;
  border-bottom: 1px solid #999;
}
.bigtable tr { border: none; }
.bigtable .age { width: 6em; }
.bigtable .author { width: 12em; }
.bigtable .description { }
.bigtable .node { width: 5em; font-family: monospace;}
.bigtable .permissions { width: 8em; text-align: left;}
.bigtable .size { width: 5em; text-align: right; }
.bigtable .annotate { text-align: right; }
.bigtable td.annotate { font-size: smaller; }
.bigtable td.source { font-size: inherit; }

.source, .sourcefirst, .sourcelast {
  font-family: monospace;
  white-space: pre;
  padding: 1px 4px;
  font-size: 90%;
}
.sourcefirst { border-bottom: 1px solid #999; font-weight: bold; }
.sourcelast { border-top: 1px solid #999; }
.source a { color: #999; font-size: smaller; font-family: monospace;}
.bottomline { border-bottom: 1px solid #999; }

.fileline { font-family: monospace; }
.fileline img { border: 0; }

.tagEntry .closed { color: #99f; }

/* Changeset entry */
#changesetEntry {
  border-collapse: collapse;
  font-size: 90%;
  width: 100%;
  margin-bottom: 1em;
}

#changesetEntry th {
  padding: 1px 4px;
  width: 4em;
  text-align: right;
  font-weight: normal;
  color: #999;
  margin-right: .5em;
  vertical-align: top;
}

div.description {
  border-left: 2px solid #999;
  margin: 1em 0 1em 0;
  padding: .3em;
}

/* Graph */
div#wrapper {
	position: relative;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0;
	padding: 0;
}

canvas {
	position: absolute;
	z-index: 5;
	top: -0.7em;
	margin: 0;
}

ul#graphnodes {
	position: absolute;
	z-index: 10;
	top: -1.0em;
	list-style: none inside none;
	padding: 0;
}

ul#nodebgs {
	list-style: none inside none;
	padding: 0;
	margin: 0;
	top: -0.7em;
}

ul#graphnodes li, ul#nodebgs li {
	height: 39px;
}

ul#graphnodes li .info {
	display: block;
	font-size: 70%;
	position: relative;
	top: -3px;
}
