[Desktop Entry]
Encoding=UTF-8
Version=0.7
Name=Htop Processes Viewer
Type=Application
Comment=Show System Processes
Exec=xterm -e htop
Icon=htop.png
Categories=ConsoleOnly;System;Application;
GenericName=Process Viewer
