[Desktop Entry]
Encoding=UTF-8
Name=Asunder CD Ripper
Name[fr]=Extracteur de CD Asunder
Name[pt]=Asunder Ripador de CD
Name[zh_CN]=Asunder CD提取工具
Comment=An application to save tracks from an Audio CD as WAV, MP3, OGG, and/or FLAC.
Comment[zh_CN]=一个可以把CD音轨保存成WAV、MP3、OGG或FLAC的程序
Exec=asunder
Icon=asunder.png
Type=Application
Categories=AudioVideo;Audio;

