[Desktop Entry]
Type=Application
Name=Asunder CD Ripper
Name[fr]=Extracteur de CD Asunder
Name[pt]=Ripador de CD Asunder
Name[pt_BR]=Ripador de CD Asunder
Name[ru]=CD-риппер Asunder
Name[zh_CN]=Asunder CD提取工具
GenericName=Audio CD Ripper
GenericName[de]=Ein graphischer CD-Ripper und Encoder
GenericName[fr]=Extracteur de CD audio
GenericName[hu]=Audió CD Ripper és Tömörítő
GenericName[ru]=Экстрактор аудио CD
Comment=An application to save tracks from an Audio CD as WAV, MP3, OGG, FLAC, and/or Wavpack.
Comment[de]=Oberfläche zur Erstellung von Audio-Dateien
Comment[hu]=Egy alkalmazás ami az Audió CD-n lévő sávokat lementi, MP3, OGG, FLAC és/vagy Wavpack formátumba.
Comment[ru]=Приложение, сохраняющее дорожки аудио CD как WAV, MP3, OGG, FLAC и Wavpack.
Comment[sv]=Ett program för att spara spår från en ljudskiva som WAV, MP3, OGG och/eller FLAC.
Comment[zh_CN]=一个可以把CD音轨保存成WAV、MP3、OGG或FLAC的程序
Exec=asunder
Icon=application-x-cd-image
StartupNotify=true
Categories=AudioVideo;Audio;
MimeType=x-content/audio-cdda;
