[Desktop Entry]
Name=Dillo Web Browser
Name[de]=Netznavigator Dillo
Name[fr]=Navigateur Web Dillo
Name[pt_PT]=Navegador Web Dillo
Name[zh_CN]=Dillo网页浏览器
Type=Application
Categories=Network;
MimeType=text/html;application/xhtml+xml;
Exec=dillo %u
Icon=dillo.png
