/* 
	CSS style for SliTaz GNU/Linux *book.
	Pankso 2007 - www.slitaz.org
*/

body {
	font: 13px sans-serif, vernada, arial;
	background: #222222;
	margin: 0;
	padding-bottom: 100%;
}

#header {
	background: #f0ba08;
	color: black;
	height: 50px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#quicknav {
	margin-right: 6px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	margin-right: 6px;
	}

#quicknav a {
	background: inherit;
	color: white;
	text-decoration: none;
}

#quicknav a:hover {
	background: inherit;
	color: #222222;
}

/*  content. */

#content {
	background: #ffffff;
	color: black;
	padding: 20px;
	margin: 20px 50px 0px 50px;
	width: auto;
	text-align: justify;
}

#content li {
	line-height: 1.5em;
	text-align: left;
}

/* Legal informations */

#copy {
	font-size: 11px ;
	text-align: center ;
	background: transparent;
	color: #ffffff;
	padding-top: 20px;
}

#copy a {
	background: inherit;
	color: #a8a8a8;
}

#copy a:hover {
	background: inherit;
	color: #EDEDED;
}

/* Clouds */

#cloud {
	padding: 10px 80px 10px 80px;
	line-height: 3em;
	text-align: center;
}
#cloud a { padding: 4px; color: #956411; }
#cloud a.tag1 { font-size: 0.7em; font-weight: 100; }
#cloud a.tag2 { font-size: 0.8em; font-weight: 200; }
#cloud a.tag3 { font-size: 0.9em; font-weight: 300; }
#cloud a.tag4 { font-size: 1.0em; font-weight: 400; }
#cloud a.tag5 { font-size: 1.2em; font-weight: 500; }
#cloud a.tag6 { font-size: 1.4em; font-weight: 600; }
#cloud a.tag7 { font-size: 1.6em; font-weight: 700; }
#cloud a.tag8 { font-size: 1.8em; font-weight: 800; }
#cloud a.tag9 { font-size: 2.2em; font-weight: 900; }
#cloud a.tag10 { font-size: 2.5em; font-weight: 900; }

/* General HTML entities for  content. */

h1 {
	margin: 0px 0px 0px 16px;
}

h2 {
	margin: 12px 0;
	color: #484B7C;
	background: white;
}

h3 {
	font-weight: bold;
	color: #6c0023;
	background: white;
}

a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

pre {
	padding: 5px;
	color: black;
	background: #e1e0b0;
}
pre.script {
	padding: 10px;
	color: black;
	background: #e8e8e8;
	border: 1px inset #333333;
}

code {
	font-size: 12px;
	color: #669900;
	background: transparent;
}

li {
	line-height: 1.4em;
}

hr {
	border: 0pt none;
}
