[Desktop Entry]
Encoding=UTF-8
Name=SQLite SQL Engine
Name[fr]=SQLite Moteur SQL
Name[pt]=Banco de Dados SQLite
Name[pt_BR]=Banco de Dados SQLite
Comment=Small data base engine
Comment[fr]=Moteur de base de données léger
Terminal=false
Exec=xterm -e sqlite3
Icon=sqlite
Type=Application
Categories=Office;
