[Desktop Entry]
Encoding=UTF-8
Name=SQLite
GenericName=Database engine
GenericName[fr]=Base de données
Comment=Small database engine
Comment[fr]=Moteur de base de données léger
Terminal=true
Exec=xterm -bg black -fg white -cr lighblue -e sqlite3
Icon=/usr/share/icons/Tango/16x16/categories/applications-other.png
Type=Application
Categories=Office;
