[Desktop Entry]
Encoding=UTF-8
Name=SQLite SQL Engine
Name[fr]=SQLite Moteur SQL
Comment=Small data base engine
Comment[fr]=Moteur de base de données léger
Terminal=true
Exec=xterm -e sqlite3
Icon=sqlite.png
Type=Application
Categories=Office;
