<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="ltr" lang="fr">
<head>
    <title>Titre de la page</title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta name="description" content="Déscription du contenu de la page">
    <meta name="keywords" lang="fr" content="Mots clés">
    <meta name="modified" content="2007-01-27 13:41:16">
</head>
<body style="direction: ltr;">
<!-- Commantaire. -->
<h1>Titre h1</h1>
<h2>Titre h2</h2>
<h3>Titre h3</h3>
<p>
Paragraphe.
</p>
<ul>
    <li>Liste non-ordonnée</li>
    <li><a href="">Lien</a></li>
</ul>
<pre>
Texte préformaté.
</pre>
</body>
</html>
