[Desktop Entry]
Encoding=UTF-8
Name=Penguin Command
Comment=Missile Attack
Exec=/usr/bin/penguin-command
Icon=/usr/share/penguin-command/penguin-command.png
Type=Application
Categories=Application;Game;
