[Desktop Entry]
Type=Application
Name=Compton X Effects
Name[fr]=Effets X Compton
Comment=Light X compositor
Comment[fr]=Compositeur X léger
Exec=compton
Icon=user-desktop
Categories=Utility;
