[Desktop Entry]
Type=Application
Name=Compton X Effects
Name[fr]=Effets X Compton
Name[pt]=Efeitos do desktop com Compton
Name[pt_BR]=Efeitos do desktop com Compton
Comment=Light X compositor
Comment[fr]=Compositeur X léger
Exec=compton -Cc -i 0.75 -r 10 -o 0.5
Icon=user-desktop
Categories=Utility;
