[Desktop Entry]
Type=Application
Name=Compton X Effects
Name[fr]=Effets X Compton
Comment=Light X compositor
Comment[fr]=Compositeur X léger
Exec=compton -Cc -i 0.75 -r 10 -o 0.5
Icon=user-desktop
Categories=Utility;
