[Desktop Entry]
Type=Application
Name=Echomixer
GenericName=Echoaudio soundcard tool
Comment=Mixer and GUI control utility for Echo Digital Audio sound cards
Exec=echomixer
Icon=audio-x-generic
Categories=AudioVideo;Audio;
