[Desktop Entry]
Type=Application
Name=LXPanel Desktop panel
Name[fr]=Panneau du bureau LXPanel
Name[ru]=Панель рабочего стола LXPanel
Exec=lxpanel -p slitaz
NotShowIn=XFCE;Razor;
