[Desktop Entry]
Encoding=UTF-8
Name=Ytree File Manager
Name[pt]=Gerenciador de arquivos Ytree
Name[pt_BR]=Gerenciador de arquivos Ytree
Exec=terminal -e ytree
Icon=user-home
Type=Application
Categories=System;
