[Desktop Entry]
Name=Beneath A Steel Sky
Name[zh_CN]=钢空之下
Comment=2D point-and-click science fiction thriller
Comment[zh_CN]=2D 科幻惊悚冒险游戏
Exec=scummvm -f -p /usr/games/bass sky
Icon=scummvm
Terminal=false
Type=Application
Categories=Game;AdventureGame;
StartupNotify=false
