[Desktop Entry]
Name=Beneath A Steel Sky
Comment=2D point-and-click science fiction thriller
Exec=scummvm -f -p /usr/share/bass sky
Icon=scummvm
Terminal=false
Type=Application
Categories=Game;AdventureGame;
StartupNotify=false
