[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=JClic Reports
Exec=java -jar /usr/lib/jclic/jclicreports.jar
Icon=reports
Terminal=false
Categories=Application;Game;
