[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=JClic
Exec=java -jar /usr/lib/jclic/jclic.jar
Icon=jclic.png
Terminal=false
Categories=Application;Game;
