[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=JClic Author
Exec=java -jar /usr/lib/jclic/jclicauthor.jar
Icon=author
Terminal=false
Categories=Application;Game;
