[Desktop Entry]
Type=Application
Name=GNU Nano Text Editor
Name[fr]=Editeur GNU Nano
Name[pt]=Editor de texto GNU Nano
Name[pt_BR]=Editor de texto GNU Nano
Name[ru]=Текстовый редактор GNU Nano
Comment=Advanced text editor
Comment[fr]=Editeur de texte avançé
Comment[ru]=Консольный текстовый редактор
Exec=terminal -e nano
Icon=nano
Categories=ConsoleOnly;Utility;TextEditor;
