[Desktop Entry]
Encoding=UTF-8
Name=Nano GNU Editor
Name[fr]=Editeur GNU Nano
Comment=Advenced text editor
Comment[fr]=Editeur de texte avançé
Exec=xterm -e nano
Icon=nano.png
Terminal=true
Type=Application
Categories=Utility;TextEditor;
