[Desktop Entry]
Type=Application
Name=CSSed
Comment=CSS Editor
Comment[ru]=Редактор CSS
Exec=/usr/bin/cssed
Icon=cssed
Terminal=false
StartupNotify=false
Categories=Development;
