[Desktop Entry]
Name=CSSed
Comment=CSS Editor
Exec=/usr/bin/cssed
Icon=/usr/share/pixmaps/cssed.png
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=false
