[Desktop Entry]
Type=Application
Name=CSSed
Comment=CSS editor
Comment[ru]=Редактор CSS
Exec=/usr/bin/cssed
Terminal=false
Icon=/usr/share/cssed/pixmaps/cssed-icon.png
StartupNotify=false
Categories=Development;WebDevelopment;
