[Desktop Entry]
Encoding=UTF-8
Name=SAMBA Administration
Icon=/usr/share/samba/swat/images/samba.gif
Exec=browser http://127.0.0.1/swat/
Type=Application
Categories=System;
