[Desktop Entry]
Encoding=UTF-8
Name=SAMBA Administration
Name[pt]=Administração do Samba
Name[pt_BR]=Administração do Samba
Icon=swat
Exec=browser http://127.0.0.1/swat/
Type=Application
Categories=System;
