[Desktop Entry]
Type=Application
Name=Mupdf-x11
Exec=sh -c '[ -z %f ] && ( fi=$(yad --file --height=600 --width=800 --center --file-filter="*.pdf" ) ; mupdf-x11 $fi ) || mupdf-x11 %f '
Icon=epdfview
Categories=Office;Viewer;
MimeType=application/pdf;
