[Desktop Entry]
Type=Application
Name=Sakura Terminal
Name[fr]=Terminal Sakura
Name[ru]=Терминал Sakura
Exec=sh -c 'sakura --sync'
Icon=utilities-terminal
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
