[Desktop Entry]
Encoding=UTF-8
Name=Sakura Terminal
Exec=sakura
Icon=sakura.png
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
