[Desktop Entry]
Type=Application
Name=Sakura Terminal
Name[ru]=Терминал Sakura
Exec=sakura
Icon=xterm
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
