[Desktop Entry]
Type=Application
Name=wxHexEditor
Comment=A hex editor for huge files and devices
Comment[ru]=Шестнадцатеричный редактор для огромных файлов и устройств
Exec=wxHexEditor
Terminal=false
Icon=wxHexEditor
Categories=Utility;FileTools;
MimeType=*
