[Desktop Entry]
Type=Application
Name=Slitaz Tic Tac Toe
Name[es]=Slitaz Tic Tac Toe
Name[fr]=Slitaz Tic Tac Toe
Name[pt]=Slitaz Tic Tac Toe
Name[pt_BR]=Slitaz Tic Tac Toe
Name[ru]=Slitaz Tic Tac Toe
Comment=Play Tic Tac Toe Game With Slitaz GNU/Linux
Comment[es]=Play Tic Tac Toe Game With Slitaz GNU/Linux
Comment[fr]=Play Tic Tac Toe Game With Slitaz GNU/Linux
Comment[pt]=Play Tic Tac Toe Game With Slitaz GNU/Linux
Comment[pt_BR]=Play Tic Tac Toe Game With Slitaz GNU/Linux
Comment[ru]=Play Tic Tac Toe Game With Slitaz GNU/Linux
Icon=slitaz-tic-tac-toe
Categories=Game;BoardGame;
Terminal=false
Exec=sh -c "url=file:////usr/share/games/slitaz-tic-tac-toe/slitaz-tic-tac-toe.html ; tazweb --notoolbar \$url || browser \$url"