[Desktop Entry]
Encoding=UTF-8
Name=Joe's Own Editor
Name[fr]=Editeur Joe
Name[pt]=Editor de textos Joe
Name[pt_BR]=Editor de textos Joe
Comment=Advanced text editor with syntax highlighting, hex editor, tab completion, unlimited undo and redo
Exec=xterm -e joe %F
Icon=joe
Terminal=false
Type=Application
Categories=Utility;TextEditor;
