[Desktop Entry]
Encoding=UTF-8
Name=Joe's Own Editor
Name[fr]=Editeur Joe
Comment=Advanced text editor with syntax highlighting, hex editor, tab completion, unlimited undo and redo
Exec=xterm -e joe %F
Icon=joe.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;
