[Desktop Entry]
Encoding=UTF-8
Name=Gnutella P2P Client
Name[de]=Gnutella P2P-Client
Name[fr]=Client P2P Gnutella
Name[hu]=Gnutella P2P Kliens
Name[ja]=Gnutella P2P クライアント
Name[nb]=Gnutella Fildelingsprogram
Name[nl]=Gnutella P2P programma
Name[nn]=Gnutella Fildelingsprogram
Comment=A GUI based Gnutella Servent
Comment[de]=Ein grafischer Gnutella-Servent
Comment[fr]=Un servent Gnutella graphique
Comment[hu]=Grafikus Gnutella-kiszolgáló
Comment[ja]=GUI ベースの Gnutella サーバントです
Comment[nb]=En grafisk Gnutella-tjenent
Comment[nl]=Een grafische Gnutella servent
Comment[nn]=Ein grafisk Gnutella-tenent
TryExec=gtk-gnutella
Exec=gtk-gnutella
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;Application;Network;FileTransfer;P2P;
Icon=gtk-gnutella
