[Desktop Entry]
Encoding=UTF-8
Name=LeoCAD
GenericName=LeoCAD model designer
Comment=A CAD program that uses toy bricks
Exec=leocad
Icon=leocad
Terminal=false
Type=Application
Categories=Application;Lego;Game;
